<div class="panel-heading"><h3 class="panel-title">{{view.title}}</h3></div>
{{#unless view.withoutbody}}
    <div class="panel-body">
{{/unless}}
    {{yield}}
{{#unless view.withoutbody}}
    </div>
{{/unless}}