<div class="row catalog_wrapper">
    <!-- Левый тулбар -->
    <div class="col-md-4">
        <div class="row">
            <div class="col-md-12">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">Тип каталога</h3>
                    </div>
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-md-6 col-md-offset-1">
                                <label>
                                    {{view Ember.RadioButton name="catalogType" selectionBinding="isSelected" value="selected"}}
                                    Женский каталог
                                </label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6 col-md-offset-1">
                                <label>
                                    {{view Ember.RadioButton name="catalogType" selectionBinding="isSelected" value="0"}}
                                    Мужской каталог
                                </label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6 col-md-offset-1">
                                <label>
                                    {{view Ember.RadioButton name="catalogType" selectionBinding="isSelected" value="0"}}
                                    Унисекс
                                </label>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="panel panel-default catalog_lot_panel">
                    <div class="panel-heading multiply_heading">
                        <div class="multiply_heading_pad" style="padding-left: 15px">
                            <h3 class="panel-title">Каталог лотов</h3>
                        </div>

                        <div class="divider">
                            <div class="divider_up"></div>
                            <div class="divider_down"></div>
                        </div>

                        <!-- Различные фильтры... -->
                        <div class="multiply_heading_pad" style="padding-top: 0px">
                            <div class="catalog_filter">{{outlet catalog_filter}}</div>
                        </div>


                    </div>
                    <div class="panel-body">

                        <!-- Дерево каталогов -->
                        <div class="catalog_tree">{{outlet catalog_tree}}</div>

                        <div class="alert alert-info">
                            <span class="glyphicon icon icon-idea pull-left"></span>
                            <button type="button" class="close" aria-hidden="true">&times;</button>
                            <p>
                                Для редактирования лота или создания нового выберите соответсвующий пункт
                                в выпадающем меню.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Правый контентбар -->
    {{#view App.PanelCategoryContentView}}
        {{outlet}}
    {{/view}}


</div>