<div id="main_container" class="panel">

<h3>Первое знакомство</h3>
<p>
Я уже автору темы ответил, но думаю может быть полезной информация для тех, у кого будет подобная проблема.
Проблема в том, что при регистрации iOS Developer Program, где Billing Address, нужно указать свой State/Province, но в списке есть только области России. А вот краев, республик, АО нету. Видимо тот, кто вбивал список просто не шарит как что у нас тут в России.
</p>
<p>
В прошлом месяце (октябрь 2011) я писал в саппорт первый раз через форму на сайте, выбрал Subject "iOS Developer Program General Questions", Region "Other".
Пришёл такой ответ:
</p>
<p>
Thank you for contacting Apple Developer Support.
Please know that we have
</p>
<h3>С чего начать?</h3>

<p>
We ask that you please provide additional detail and information so that we may further assist you with your inquiry.
</p>
<p>
Thank you for your assistance.

 Пришлось расписывать что и как у нас тут в России, дал ссылку на Википедию английскую про федеральные субьекты России и ещё на какой-то сайт с подобной информацией:
   </p>
</br>
<div class="like_center">
    {{#link-to 'panel.catalog' class="btn btn-default"}}<strong>Добавить одежду</strong>{{/link-to}}
</div>
</br>
<div class="jumbotron">
</div>
<div class="row">
    <div class="col-md-10">
        <div class="checkbox">
            <label>
                {{view Ember.Checkbox checked="checked" }}
                <div class="cust_checkbox">&nbsp;</div>
                Начинать вход в систему с данной страницы
            </label>
        </div>
    </div>
    <div class="col-md-2"></div>
</div>
<div class="row">
    <div class="col-md-10">
        <div class="checkbox">
            <label>
                {{view Ember.Checkbox }}
                <div class="cust_checkbox">&nbsp;</div>
                Включить интерактивные подсказки
            </label>
        </div>
        <div class="row">
            <div class="col-md-8 col-md-offset-1">
                <span class="addition_descr">
                    Изменить этот параметр вы сможете в любое
                    время в разделе
                    "{{#link-to 'panel.settings' class="text-primary underline_link"}}Настройки{{/link-to}}"
                </span>
            </div>
        </div>

    </div>
    <div class="col-md-2"></div>
</div>
</br>

</div>