<div class="row catalog_wrapper settings_page">
    <!-- Левый тулбар -->
    <div class="col-md-3">
        {{#view App.BlockPanelView title="panel.settings.leftside.settings.title" class="panel-setting-sidebar"}}
            {{#link-to 'panel.settings.partner'}}{{t panel.settings.leftside.settings.partner_profile}}{{/link-to}}<br/>
            {{#link-to 'panel.settings.account'}}{{t panel.settings.leftside.settings.account}}{{/link-to}}
        {{/view}}
    </div>
    <!-- Правый тулбар -->
    <div class="col-md-9">
        <div class="alert alert-warning">
            <span class="glyphicon icon icon-warning pull-left"></span>
            {{{t 'panel.settings.alert.for.leftside'}}}
        </div>
        {{outlet}}
    </div>
</div>