<div class="row catalog_wrapper">
    <!-- Левый тулбар -->
    <div class="col-md-3">
        {{#view App.BlockPanelView title="panel.settings.leftside.statistic.title" class="panel-setting-sidebar"}}
            {{#link-to 'panel.statistic.content'}}{{t panel.settings.leftside.statistic.content}}{{/link-to}}<br/>
            {{#link-to 'panel.statistic.audience'}}{{t panel.settings.leftside.statistic.audience}}{{/link-to}}
        {{/view}}
        {{#view App.BlockPanelView title="panel.settings.leftside.report.title" class="panel-setting-sidebar"}}
            {{#link-to 'panel.statistic.report'}}{{t panel.settings.leftside.report.create}}{{/link-to}}
        {{/view}}
    </div>
    <!-- Правый тулбар -->
    <div class="col-md-9">
        {{outlet}}
    </div>
</div>