<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta property="vk:app_id" content="111"/>
    <title>Dressformer</title>

    <!-- Bootstrap -->
    <link href="static/css/bootstrap/bootstrap.css" rel="stylesheet" media="screen"/>
    <link rel="stylesheet" type="text/css" href="static/css/bootstrap/bootstrap-theme.css">
    <link rel="stylesheet" type="text/css" href="static/css/jquery/nanoscroller.css">
    <link rel="stylesheet" type="text/css" href="static/css/styles/main.css">
    <!--[if lt IE 9]>
        <link rel="stylesheet" type="text/css" href="static/css/styles/main-ie8.css" />
    <![endif]-->

    <link href='http://fonts.googleapis.com/css?family=Roboto+Condensed' rel='stylesheet' type='text/css'>
    <script type="text/javascript" src="//vk.com/js/api/openapi.js?98"></script>
    <link rel="stylesheet" type="text/css" href="/static/css/styles/catalog.css">

</head>
<body>
<!-- Общий шаблон страницы ------------------------------------------------------------------------->
<script type="text/x-handlebars">
           <div class="wrapper">
            <header>
                <div id="header_container" class="container">
                    <a href="/"><img src="static/img/main/logo.png" width="250px" height="60px"></a>
                    <div class="language pull-right dropdown-el">
                        {{view App.LanguagePanelView}}
                    </div>
                </div>
            </header>
            <div class="container">
            {{outlet}}
            </div>

            <footer>
                <div class="container">
                    <span class="glyphicon glyphicon-envelope"></span>
                    <a target="_blank" href="mailto:info@dressformer.ru" class="underline_link">{{t app.linkWriteUs }}</a>
                    <span class="sitemap-icon"></span>
                    <a href="/" onclick="return false;" class="underline_link">{{t app.linkSiteMap }}</a>
                    <div class="pull-right">
                        {{view App.SocialPanelView}}
                    </div>
                    <div class="clearfix"></div>
                    <div class="delimeter">
                        <div class="del_u">
                        </div>
                        <div class="del_d">
                        </div>
                    </div>
                    <div class="row">
                        <center style="font-size: 12px;font-family: 'Roboto Condensed', sans-serif;">
                            &copy 2013 {{t app.labelOwner }}
                        </center>
                    </div>
                </div>
            </footer>
          </div>

</script>
<!----------------------------------------------------------------------------------------------->


<!---------------------------------------------------------------------------------------------->
<!---------------------------------------------------------------------------------------------->
<!-- JS library date manipulation -->
<script src="/static/js/libs/moment-with-langs.min.js"></script>
<!-- JavaScript plugins (requires jQuery) -->
<script src="http://code.jquery.com/jquery.min.js"></script>
<script src="http://code.highcharts.com/highcharts.js"></script>
<script src="http://crypto-js.googlecode.com/svn/tags/3.1.2/build/rollups/md5.js"></script>
<script src="http://crypto-js.googlecode.com/svn/tags/3.1.2/build/components/enc-base64-min.js"></script>
<script src="http://crypto-js.googlecode.com/svn/tags/3.1.2/build/rollups/hmac-sha256.js"></script>
<script src="/static/js/libs/jquery/plugins/jquery.nanoscroller.min.js"></script>

<script src="/static/js/libs/jquery/plugins/jquery.jscroll.js"></script>

<!-- Include all compiled plugins (below), or include individual files as needed -->
<script src="/static/js/libs/jquery/plugins/bootstrap.js"></script>
<!-- Enable responsive features in IE8 with Respond.js (https://github.com/scottjehl/Respond) -->
<script src="/static/js/libs/respond.min.js"></script>
<script src="/static/js/libs/html5shiv.js"></script>
<!-- template engine -->
<script src="/static/js/libs/ember/plugins/handlebars-1.0.0.js"></script>
<!-- Ember.js -->
<script src="./static/js/libs/ember/ember-1.1.2.js"></script>
<!-- Load language engine -->
<script src="/static/js/libs/ember/plugins/i18n.js"></script>
<!-- Load language engine -->
<script src="/static/js/libs/indexedDB/Linq2IndexedDB.js"></script>
<!-- Load and initialize application js script -->
<script src="/static/js/startup.js"></script>

<script type="text/javascript">
    VK.init({apiId: '3268239', onlyWidgets: true});
</script>


<!-- ------------------------------------------------------------------------------------------------------------------>
</body>
</html>