<div class="btn-group et-select" {{bind-attr style="fullWidth"}}>
    <button
            {{action 'triggerLoad'}}
            {{bind-attr class=":btn :btn-default size :dropdown-toggle"}} type="button"
            {{bind-attr style="fullWidth"}}
            data-toggle="dropdown">
        <div class="filter-option">{{{labelColor selected colorAttribute}}} {{{labelForSelectField selected labelAttribute isTree}}}</div>
        <div class="icons icons-select pull-right"></div>
    </button>
    <ul class="dropdown-menu">
        {{#each m in model}}
            {{#compare m.id selected.id}}
            <li class="selected">
            {{else}}
            <li>
            {{/compare}}
                <a {{action 'triggerSelect' m}}>
                    {{#if isTree}}
                        <span class="badge pull-right"
                                {{action 'triggerLoad' m bubbles=false}}>
                            {{#if m.is_collapsed}}{{t 'select.uncollapse'}}{{else}}{{t 'select.collapse'}}{{/if}}
                        </span>
                    {{/if}}
                    <span>
                        {{{labelColor m colorAttribute}}} {{{labelForSelectField m labelAttribute}}}
                    </span>
                </a>
            </li>
            {{#if isTree}}
                {{#each ch1 in m.children}}
                    {{#compare ch1.id selected.id}}
                    <li class="selected" {{bind-attr data-parent="ch1.parent.id"}}>
                    {{else}}
                    <li {{bind-attr data-parent="ch1.parent.id"}}>
                    {{/compare}}
                        <a {{action 'triggerSelect' ch1}}>
                            {{#compare depth 3}}
                                {{#if isTree}}
                                    <span class="badge pull-right"
                                        {{action 'triggerLoad' ch1 bubbles=false}}>
                                        {{#if ch1.is_collapsed}}{{t 'select.uncollapse'}}{{else}}{{t 'select.collapse'}}{{/if}}
                                    </span>
                                {{/if}}
                            {{/compare}}
                            <span style="padding-right: 80px;">
                                {{{labelForSelectField ch1 labelAttribute depth=1}}}
                            </span>
                        </a>
                    </li>
                    {{#each ch2 in ch1.children}}
                        {{#compare ch2.id selected.id}}
                        <li class="selected" {{bind-attr data-parent="ch2.parent.id"}}>
                        {{else}}
                        <li {{bind-attr data-parent="ch2.parent.id"}}>
                        {{/compare}}
                            <a {{action 'triggerSelect' ch2}}>

                                {{#compare depth 4}}
                                    {{#if isTree}}
                                        <span class="badge pull-right"
                                            {{action 'triggerLoad' ch2 bubbles=false}}>
                                            {{#if ch2.is_collapsed}}{{t 'select.uncollapse'}}{{else}}{{t 'select.collapse'}}{{/if}}
                                        </span>
                                    {{/if}}
                                {{/compare}}
                                <span style="padding-right: 80px;">
                                    {{{labelForSelectField ch2 labelAttribute depth=2}}}
                                </span>
                            </a>
                        </li>
                        {{#each ch3 in ch2.children}}
                            {{#compare ch3.id selected.id}}
                            <li class="selected" {{bind-attr data-parent="ch3.parent.id"}}>
                            {{else}}
                            <li {{bind-attr data-parent="ch3.parent.id"}}>
                            {{/compare}}
                                <a {{action 'triggerSelect' ch3}}>
                                    {{{labelForSelectField ch3 labelAttribute depth=3}}}
                                </a>
                            </li>
                        {{/each}}
                    {{/each}}
                {{/each}}
            {{/if}}
        {{/each}}
    </ul>
</div>