<p>{{t 'panel.settings.partner.individual.form.description'}}</p>
<form class="form-horizontal" role="form">
    <div class="form-group">
        <label for="settingsPersonName" class="col-sm-3 control-label">{{t 'panel.setting.form.personName'}}</label>

        <div class="col-sm-9">
            {{view Ember.TextField id="settingsPersonName" valueBinding="personName" class="form-control"}}
            <div class="help-block"></div>
        </div>
    </div>
    <div class="form-group">
        <label for="settingsPersonAddress" class="col-sm-3 control-label">{{t 'panel.setting.form.person_address'}}</label>

        <div class="col-sm-9">
            {{view Ember.TextField id="settingsPersonAddress" valueBinding="person_address" class="form-control"}}
            <div class="help-block"></div>
        </div>
    </div>
    <div class="form-group">
        <label for="settingsAddress" class="col-sm-3 control-label">{{t 'panel.setting.form.address'}}</label>

        <div class="col-sm-9">
            {{view Ember.TextField id="settingsAddress" valueBinding="city" class="form-control"}}
            <div class="help-block"></div>
        </div>
    </div>
    <div class="form-group">
        <label for="settingsIIN" class="col-sm-3 control-label">{{t 'panel.setting.form.IIN'}}</label>

        <div class="col-sm-9">
            {{view Ember.TextField id="settingsIIN" valueBinding="iin" pattern="\d+" class="form-control"}}
            <div class="help-block"></div>
        </div>
    </div>
    <div class="form-group">
        <label for="settingsOGRN" class="col-sm-3 control-label">{{t 'panel.setting.form.OGRN'}}</label>

        <div class="col-sm-9">
            {{view Ember.TextField id="settingsOGRN" valueBinding="ogrn" pattern="\d+" class="form-control"}}
            <div class="help-block"></div>
        </div>
    </div>
    <div class="form-group">
        <label for="settingsKPP" class="col-sm-3 control-label">{{t 'panel.setting.form.KPP'}}</label>

        <div class="col-sm-9">
            {{view Ember.TextField id="settingsKPP" valueBinding="kpp" pattern="\d+" class="form-control"}}
            <div class="help-block"></div>
        </div>
    </div>
    <div class="form-group">
        <label>
            {{view Ember.Checkbox id="settingsTerm" checkedBinding="partner.term"}}
            <div {{bind-attr class=":cust_checkbox partner.term:checked"}}>&nbsp;</div>
            {{t 'panel.settings.form.term'}} {{#link-to 'panel.settings'}}{{t 'panel.settings.form.term_link'}}{{/link-to}}
        </label>
    </div>
    <div class="form-group">
        <button type="button" class="btn btn-default"
                 {{translateAttr data-loading-text="btnIndicatorLoading"}} {{action 'singIn'}}>
            {{t 'panel.settings.form.submit'}}
        </button>
    </div>
</form>