<p>{{t 'panel.settings.partner.individual.form.description'}}</p>
<form class="form-horizontal" role="form">
    <div class="form-group">
        <label for="settingsFirstName" class="col-sm-3 control-label">{{t 'panel.setting.form.firstName'}}</label>

        <div class="col-sm-9">
            {{view Ember.TextField id="settingsFirstName" valueBinding="firstName" class="form-control"}}
            <div class="help-block"></div>
        </div>
    </div>
    <div class="form-group">
        <label for="settingsLastName" class="col-sm-3 control-label">{{t 'panel.setting.form.lastName'}}</label>

        <div class="col-sm-9">
            {{view Ember.TextField id="settingsLastName" valueBinding="lastName" class="form-control"}}
            <div class="help-block"></div>
        </div>
    </div>
    <div class="form-group">
        <label for="settingsMiddleName" class="col-sm-3 control-label">{{t 'panel.setting.form.middleName'}}</label>

        <div class="col-sm-9">
            {{view Ember.TextField id="settingsMiddleName" valueBinding="middleName" class="form-control"}}
            <div class="help-block"></div>
        </div>
    </div>
    <div class="form-group">
        <label for="settingsIIN" class="col-sm-3 control-label">{{t 'panel.setting.form.IIN'}}</label>

        <div class="col-sm-9">
            {{view Ember.TextField id="settingsIIN" valueBinding="iin" pattern="\d+" class="form-control"}}
            <div class="help-block"></div>
        </div>
    </div>
    <div class="form-group">
        <label for="settingsOGRNIP" class="col-sm-3 control-label">{{t 'panel.setting.form.OGRNIP'}}</label>

        <div class="col-sm-9">
            {{view Ember.TextField id="settingsOGRNIP" valueBinding="ogrnip" pattern="\d+" class="form-control"}}
            <div class="help-block"></div>
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-3 control-label">{{t 'panel.statistic.view.gender.title'}}</label>

        <div class="col-sm-9">
            <div class="btn-group" data-toggle="buttons">
                <label
                        {{action 'changeGender' 'male'}}
                        {{bind-attr class=":btn :btn-default isGenderMale:active"}}>
                    {{view Em.TextField type="radio" name="gender"}} {{t 'gender.male'}}
                </label>
                <label
                        {{action 'changeGender' 'female'}}
                        {{bind-attr class=":btn :btn-default isGenderFemale:active"}}>
                    {{view Em.TextField type="radio" name="gender"}} {{t 'gender.female'}}
                </label>
            </div>
            <div class="help-block"></div>
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-3 control-label">{{t 'panel.setting.form.birthday'}}</label>

        <div class="col-sm-9">
            <div class="row">
                <div class="col-sm-4">
                    {{view Ember.Select viewName="select"
                        class="form-control"
                        selectionBinding="partner.selected_date"
                        contentBinding="partner.dates"
                        prompt="день"}}
                </div>
                <div class="col-sm-4">
                    {{view Ember.Select viewName="select"
                        class="form-control"
                        selectionBinding="partner.selected_month"
                        optionLabelPath="content.label"
                        optionValuePath="content.value"
                        contentBinding="partner.months"
                        prompt="месяц"}}
                </div>
                <div class="col-sm-4">
                    {{view Ember.Select viewName="select"
                        class="form-control"
                        selectionBinding="partner.selected_year"
                        contentBinding="partner.years"
                        prompt="год"}}
                </div>
            </div>
            <div class="help-block"></div>
        </div>
    </div>
    <div class="form-group">
        <label for="settingsMobile" class="col-sm-3 control-label">{{t 'panel.setting.form.mobile'}}</label>

        <div class="col-sm-9">
            {{view Ember.TextField id="settingsMobile" valueBinding="mobile" class="form-control"}}
            <div class="help-block"></div>
        </div>
    </div>
    <div class="form-group">
        <label for="settingsAddress" class="col-sm-3 control-label">{{t 'panel.setting.form.address'}}</label>

        <div class="col-sm-9">
            {{view Ember.TextField id="settingsAddress" valueBinding="city" class="form-control"}}
            <div class="help-block"></div>
        </div>
    </div>
    <div class="form-group">
        <label>
            {{view Ember.Checkbox id="settingsTerm" checkedBinding="partner.term"}}
            <div {{bind-attr class=":cust_checkbox partner.term:checked"}}>&nbsp;</div>
            {{t 'panel.settings.form.term'}} {{#link-to 'panel.settings'}}{{t 'panel.settings.form.term_link'}}{{/link-to}}
        </label>
    </div>
    <div class="form-group">
        <button type="button" class="btn btn-default"
                 {{translateAttr data-loading-text="btnIndicatorLoading"}} {{action 'singIn'}}>
            {{t 'panel.settings.form.submit'}}
        </button>
    </div>
</form>