<div class="row">
    <div class="col-md-7">
        <!-- инпут поиска -->
        <form  {{action 'findByArticle' on='submit'}} class="navbar-form navbar-left" role="search">
          <div class="form-group">
            {{view Ember.TextField valueBinding='findWord' class="form-control search-query" placeholder="Искать лот по артикулу"}}
          </div>
        </form>
    </div>

    <div class="col-md-5 text-right filter_buttons">
        <!-- кнопки фильтра -->


        <button  title="Фильтр" type="button" class="addBid btn btn-default " >
                <span class="glyphicon glyphicon-filter"></span>
        </button>

        <button title="Редактор" type="button" class="addBid btn btn-default">
            <span class="glyphicon glyphicon-pencil"></span>
        </button>


        <button {{action triggerOpenCatalogTree}}
                {{bind-attr class=":addBid :btn :btn-default isOpenedCatalogTree:active"}}
                title="Раскрыть / Свернуть" type="button"  >
            <span class="glyphicon glyphicon-align-right"></span>
        </button>

    </div>
</div>