 <div class="listTreeWrapper">
                            <div class="listTree">
                                <ul>
                                    {{#each category_model in controller}}

                                    <li>
                                       {{#view App.TreeNodeCategoryView model=category_model}}

                                       <div {{bind-attr class=":node :level_0 category_model.isOpen:selected"}}
                                            {{action 'toogleSubcategory' category_model.id }}
                                            {{bind-attr  data-id=category_model.id}}>
                                                {{category_model.name}}

                                           {{#if category_model.childCount }}
                                                <span class="simple_text">({{category_model.childCount}})</span>
                                           {{/if}}
                                           <span class="caret"></span></div>
                                        <ul {{bind-attr style=view.isChildrenVisibility}}>
                                            {{#if category_model.loading }}
                                                <img class="primary_loading tree_lev_0 text-center" src="/static/img/elements/ajax-loader.gif">
                                            {{/if}}

                                            {{#each sub_category in category_model.children}}

                                             {{#view App.TreeNodeCategoryView model=sub_category}}
                                              <li {{bind-attr class="sub_category.lastChild:last" }}>


                                                    <div class="connect_line"></div>
                                                    <div {{bind-attr class=":node :level_1 sub_category.isOpen:selected"}}
                                                         {{action 'toogleGarments' sub_category}}
                                                         {{bind-attr data-id=sub_category.id}}>
                                                            {{sub_category.name}}

                                                    <span class="simple_text">
                                                        {{#if sub_category.childCount}}
                                                            ({{sub_category.childCount}})
                                                        {{else}}
                                                        {{/if}}
                                                    </span>


                                                        {{# if sub_category.children.length }}
                                                        {{/if}}
                                                        <span class="caret"></span>
                                                    </div>
                                                     <div class="add_block" {{bind-attr style=view.isGarmentVisibility}}>
                                                        <button {{action 'createGarment'  sub_category}} type="button" class="addBid btn btn-default btn-xs">
                                                            <span class="glyphicon glyphicon-plus"></span>
                                                        </button>
                                                        Добавить лот

                                                        <div class="bid_list">
                                                          <div class="list-group">
                                                           {{#if sub_category.loading}}
                                                                <img class="primary_loading tree_lev_1 text-center" src="/static/img/elements/ajax-loader.gif">
                                                           {{/if}}

                                                              {{#each garment_lot in sub_category.children}}

                                                               {{#with garment_lot}}
                                                                    {{#link-to 'panel.catalog.garment.edit' this classBinding=":list-group-item isNew:active" }}
                                                                    <div class="media">
                                                                        <div class="img_external pull-left">
                                                                            <div class="img_internal">
                                                                                {{#if previewUrl }}
                                                                                    <img class="img_lot" {{bind-attr src=previewUrl}} >
                                                                                {{else}}
                                                                                    <img class="img_lot" src="/static/img/elements/no_photo.png">
                                                                                {{/if}}
                                                                            </div>
                                                                        </div>

                                                                        <div class="media-body">
                                                                          <span class="glyphicon glyphicon-lock"></span>
                                                                            <div class="color_lot" {{bind-attr style=getBGColor}}></div>

                                                                          <h5 class="media-heading">{{internalId}}</h5>
                                                                          <label class="pull-right">
                                                                                        <input  class="ember-view ember-checkbox" type="checkbox">
                                                                                        <div class="cust_checkbox" data-bindattr-6="6">&nbsp;</div>
                                                                          </label>

                                                                          <br/>
                                                                          {{brand.name}}
                                                                          <br/>
                                                                          {{#if isError}}
                                                                              <span class="glyphicon glyphicon-remove"></span>
                                                                              <h5>{{errorMsg}}</h5>
                                                                          {{else}}
                                                                            <span class="glyphicon glyphicon-ok"></span>
                                                                             <h5>Нет ошибок</h5>
                                                                          {{/if}}

                                                                        </div>
                                                                    </div>
                                                               {{/link-to}}
                                                               {{/with}}
                                                           {{else}}
                                                                  {{#if loadProcess}}

                                                                  {{else}}
                                                                      {{# if sub_category.isNotLots }}
                                                                           <div class="not_lots">Нет лотов для отображения</div>
                                                                      {{/if}}
                                                                  {{/if}}
                                                           {{/each}}

                                                          </div>
                                                        </div>

                                                     </div>
                                              </li>
                                             {{/view}}

                                            {{else}}
                                                {{#if loadProcess}}

                                                {{else}}
                                                    {{# if isNotLots }}
                                                        <div class="not_lots">Нет категорий для отображения</div>
                                                    {{/if}}
                                                {{/if}}
                                            {{/each}}
                                        </ul>
                                       {{/view}}
                                     </li>

                                    {{else}}
                                        <img class="primary_loading tree_lev_1 text-center" src="/static/img/elements/ajax-loader.gif">
                                    {{/each}}

                                </ul>
                            </div>
                           </div>






