{{#if wasChanged}}
    <div class="alert alert-danger">
        <p style="margin-bottom: 15px">
            {{t 'panel.catalog.garment.form.alert.save'}}
        </p>
        <button {{action 'saveGarment'}} id="garmentSaveOk" type="button" class="btn btn-danger"
                                         style="margin-right: 15px">
            {{t 'panel.catalog.garment.form.save'}}
        </button>
        <button {{action 'cancelGarment'}} id="garmentSaveCancel" type="button" class="btn btn-danger">
            {{t 'panel.catalog.garment.form.cancel'}}
        </button>
    </div>
{{/if}}




<div class="panel panel-default lot_parameters">
<div class="panel-heading">
    <h3 class="panel-title">{{t 'panel.catalog.garment.form.title.params_lot'}}</h3>
</div>
<div class="panel-body">
<div class="alert alert-info">
    <span class="glyphicon icon icon-idea pull-left"></span>
    <button type="button" class="close" aria-hidden="true">&times;</button>
    <p>
        {{t 'panel.catalog.garment.form.description.params_lot'}}
    </p>
</div>

<div class="alert alert-warning">
    <div class="alert_inline">
        <span class="glyphicon glyphicon-lock"></span>

        <p style="display: inline-block;">
            {{t 'panel.catalog.garment.form.alert.lot_visible'}}
        </p>
        <button type="button" class="btn btn-warning pull-right"
                style="right: 10px">{{t 'panel.catalog.garment.form.more'}}</button>
    </div>

</div>

<div class="row">
<form class="form-horizontal" role="form" id=garmentForm>

<div {{bind-attr class=":form-group valid.category.isValid::has-error"}}>
    <label for="garmentCategory" class="col-sm-2 col-md-2 control-label">
        {{t 'panel.catalog.garment.form.label.category'}}
    </label>

    <div class="col-sm-5 col-md-5">
        {{select-field isTree=true actionLoad='loadCategories'
        actionSelected='categorySelected'
        selected=controller.model.category}}


        <div class="help-block">{{valid.category.text}}</div>
    </div>
</div>

<div {{bind-attr class=":form-group valid.shop.isValid::has-error"}}>
    <label for="garmentCategory" class="col-sm-2 col-md-2 control-label">
        {{t 'panel.catalog.garment.form.label.shop'}}
    </label>

    <div class="col-sm-5 col-md-5">
        {{select-field isTree=false actionLoad='loadShops'
        actionSelected='shopSelected'
        labelAttribute='title'
        selected=controller.model.shop}}


        <div class="help-block" data-id="shop">{{valid.shop.text}}</div>
    </div>
</div>

<div {{bind-attr class=":form-group valid.article.isValid::has-error"}}>
    <label for="garmentArticle" class="col-sm-2 col-md-2 control-label">
        {{t 'panel.catalog.garment.form.label.article'}}
    </label>

    <div class="col-sm-5 col-md-5">
        {{view Ember.TextField id="garmentArticle" valueBinding="article" class="form-control"}}
        <div class="help-block" data-id="article">{{valid.article.text}}</div>
    </div>
</div>


<!-- Brand -->
<!-- TODO http://willywos.github.io/bangbang/demo.html?search=email -->
<div {{bind-attr class=":form-group valid.brand.isValid::has-error"}}>
    <label for="garmentBrand" class="col-sm-2 col-md-2 control-label">
        {{t 'panel.catalog.garment.form.label.brand'}}
    </label>

    <div class="col-sm-5 col-md-5">
        {{select-field isTree=false
        actionLoad='loadBranbs'
        actionSelected='brandSelected'
        selected=controller.model.brand}}

        <div class="help-block" data-id="brand">{{valid.brand.text}}</div>
    </div>
</div>


<!-- Color selector -->
<div {{bind-attr class=":form-group valid.color.isValid::has-error"}}>
    <label for="garmentColor" class="col-sm-2 col-md-2 control-label">
        {{t 'panel.catalog.garment.form.label.color'}}
    </label>

    <div class="col-sm-5 col-md-5">
        {{{select-field isTree=false
        colorAttribute='color'
        actionLoad='loadColors'
        actionSelected='colorSelected'
        selected=controller.model.color}}}

        <div class="help-block" data-id="color">{{valid.color.text}}</div>
    </div>
</div>

<div {{bind-attr class=":form-group valid.structure.isValid::has-error"}}>

    <label for="garmentStructure" class="col-sm-2 col-md-2 control-label">
        {{t 'panel.catalog.garment.form.label.structure'}}
    </label>

    <div class="col-sm-7 col-md-7">
        {{view Ember.TextArea id="garmentStructure" rows="5" valueBinding="structure"
        class="form-control"}}
        <div class="help-block" data-id="structure">{{valid.structure.text}}</div>
    </div>
</div>


<div {{bind-attr class=":form-group valid.url.isValid::has-error"}}>
    <label for="garmentLink" class="col-sm-2 col-md-2 control-label">
        {{t 'panel.catalog.garment.form.label.link'}}
    </label>

    <div class="col-sm-7 col-md-7">
        {{view Ember.TextField id="garmentLink" valueBinding="url"  placeholder="http://"
        class="form-control" rows="5"}}
        <div class="help-block" data-id="url">{{valid.url.text}}</div>
    </div>
</div>


<div class="optional_part" data-optional="garmentSize"><span style="margin-left: 35px">
    {{t 'panel.catalog.garment.form.title.sizes'}}
</span>
    <span class="caret"></span></div>
<div id="garmentSize">
    <!-- Gamrent sizes -->
    <div class="form-group">
        <label for="garmentSysSize" class="col-sm-2 col-md-2 control-label">
            {{t 'panel.catalog.garment.form.label.system_size'}}
        </label>

        <div class="col-sm-5 col-md-5">

            {{{select-field isTree=false isStatic=true
            model=controller.countrySizes}}}

            <div class="help-block"></div>
        </div>
    </div>


    <div class="form-group">
        <div class="col-sm-7 col-md-7 col-sm-offset-1 col-md-offset-1">
            <button title="" type="button" class="btn btn-default tag_btn">XS</button>
            <button title="" type="button" class="btn btn-default tag_btn">S</button>
            <button title="" type="button" class="btn btn-default tag_btn">M</button>
            <button title="" type="button" class="btn btn-default tag_btn">L</button>
            <button title="" type="button" class="btn btn-default tag_btn">XL</button>
            <button title="" type="button" class="btn btn-default tag_btn">XXL</button>
            <button title="" type="button" class="btn btn-default tag_btn">XXXL</button>
        </div>
    </div>

    <div class="form-group">
        <div class="col-sm-5 col-md-5">
            <div class="checkbox">
                <label>
                    {{view Ember.Checkbox }}
                    <div class="cust_checkbox">&nbsp;</div>
                    {{t 'panel.catalog.garment.form.label.size_available'}}
                </label>
            </div>
        </div>
    </div>
</div>


<div class="optional_part" data-optional="garmentPhoto"><span style="margin-left: 35px">
    {{t 'panel.catalog.garment.form.title.photo'}}
</span>
    <span class="caret"></span></div>
<div id="garmentPhoto">

<div class="alert alert-info">
    <span class="glyphicon icon icon-idea pull-left"></span>
    <button type="button" class="close" aria-hidden="true">&times;</button>
    <p>
        {{t 'panel.catalog.garment.form.description.photo'}}
    </p>
</div>

<div class="row">
<div class="col-md-6 col-sm-6 file_first_column">

    <!-- All OK -->

    <div class="row file_row">
        <div class="col-md-12">
            <div class="file_title">{{t 'panel.catalog.garment.form.label.photo_front'}}</div>
            {{#if frontError}}
                <img src="/static/img/elements/shirt_error.png">

                <div class="file_link file_error">{{t 'panel.catalog.garment.form.error_load_photo'}}</div>
                <button type="button" {{translateAttr data-loading-text="btnIndicatorLoading"}}
                        class="btn btn-default pull-right">
                    <span>{{t 'panel.catalog.garment.form.load'}}</span>
                </button>
                <div class="file_descr">{{t 'panel.catalog.garment.form.load_retry'}}</div>
            {{else}}
                {{#if frontUrl}}
                    <img src="/static/img/elements/shirt.png">

                    <div class="file_link"><a href="/" target="_blank">ERT_Photo_front_637434_200.jpg</a></div>
                    <button type="button" {{translateAttr data-loading-text="btnIndicatorLoading"}}
                            class="btn btn-default pull-right">
                        <span>{{t 'panel.catalog.garment.form.remove'}}</span>
                    </button>
                    <div class="file_descr">8 Мб, фотография распознана</div>
                {{else}}
                    <span class="text-muted">{{t 'panel.catalog.garment.form.photo_load_filed'}}</span>
                    <button type="button" {{translateAttr data-loading-text="btnIndicatorLoading"}}
                            class="btn btn-default pull-right">
                        <span>{{t 'panel.catalog.garment.form.load'}}</span>
                    </button>
                {{/if}}
            {{/if}}
        </div>

    </div>

    <div class="row file_row">
        <div class="col-md-12">
            <div class="file_title">{{t 'panel.catalog.garment.form.label.photo_back'}}</div>
            {{#if backError}}
                <img src="/static/img/elements/shirt_error.png">

                <div class="file_link file_error">{{t 'panel.catalog.garment.form.error_load_photo'}}</div>
                <button type="button" {{translateAttr data-loading-text="btnIndicatorLoading"}}
                        class="btn btn-default pull-right">
                    <span>{{t 'panel.catalog.garment.form.load'}}</span>
                </button>
                <div class="file_descr">{{t 'panel.catalog.garment.form.load_retry'}}</div>
            {{else}}
                {{#if backUrl}}
                    <img src="/static/img/elements/shirt.png">

                    <div class="file_link"><a href="/" target="_blank">ERT_Photo_front_637434_200.jpg</a></div>
                    <button type="button" {{translateAttr data-loading-text="btnIndicatorLoading"}}
                            class="btn btn-default pull-right">
                        <span>{{t 'panel.catalog.garment.form.remove'}}</span>
                    </button>
                    <div class="file_descr">8 Мб, фотография распознана</div>
                {{else}}
                    <span class="text-muted">{{t 'panel.catalog.garment.form.photo_load_filed'}}</span>
                    <button type="button"  {{translateAttr data-loading-text="btnIndicatorLoading"}}
                            class="btn btn-default pull-right">
                        <span>{{t 'panel.catalog.garment.form.load'}}</span>
                    </button>
                {{/if}}
            {{/if}}
        </div>
    </div>

    <div class="row file_row">
        <div class="col-md-12">
            <div class="file_title">{{t 'panel.catalog.garment.form.label.photo_preview'}}</div>
            {{#if previewError}}
                <img src="/static/img/elements/shirt_error.png">

                <div class="file_link file_error">{{previewError}}</div>
                <button type="button" {{translateAttr data-loading-text="btnIndicatorLoading"}}
                        class="btn btn-default pull-right file_load_btn">
                    <input {{action 'fileSelected' 'preview' on="change"}} type="file"
                                                                           class="file_input" accept="image/*"/>
                    <span>{{t 'panel.catalog.garment.form.load'}}</span>
                </button>
                <div class="file_descr">{{t 'panel.catalog.garment.form.load_retry'}}</div>
            {{else}}
                {{#if previewLoading}}
                    <div class="progress">
                        <div class="progress-bar" role="progressbar" aria-valuenow="0"
                             aria-valuemin="0" aria-valuemax="100" {{bind-attr style="styleLoadingPreviewPhoto"}}>
                            <span class="sr-only">{{previewLoading}}</span>
                        </div>
                    </div>
                    <button type="button"
                        {{action 'abortPhoto' 'preview'}}
                        {{translateAttr data-loading-text="btnIndicatorLoading"}}
                            class="btn btn-default pull-right">
                        <span>{{t 'panel.catalog.garment.form.cancel'}}</span>
                    </button>
                {{else}}
                    {{#if previewUrl}}
                        <img src="/static/img/elements/shirt.png">

                        <div class="file_link">
                            <a {{bind-attr href="previewUrl"}} target="_blank">
                                {{previewFileName}}
                            </a>
                        </div>
                        <button type="button"
                            {{action 'deletePhoto' 'previewUrl'}}
                            {{translateAttr data-loading-text="btnIndicatorLoading"}}
                                class="btn btn-default pull-right">
                            <span>{{t 'panel.catalog.garment.form.remove'}}</span>
                        </button>
                        <div class="file_descr">8 Мб, фотография распознана</div>
                    {{else}}

                        {{#if previewData}}
                            <img src="/static/img/elements/shirt.png">

                            <div class="file_link">
                                {{previewLoadedFileName}}
                            </div>
                            <button type="button"
                                {{action 'deletePhoto' 'previewData'}}
                                {{translateAttr data-loading-text="btnIndicatorLoading"}}
                                    class="btn btn-default pull-right">
                                <span>{{t 'panel.catalog.garment.form.cancel'}}</span>
                            </button>
                            <div class="file_descr">{{previewSizePhoto}}
                                , {{t 'panel.catalog.garment.form.loaded.success'}}</div>
                        {{else}}
                            <span class="text-muted">{{t 'panel.catalog.garment.form.photo_load_filed'}}</span>

                            <button type="button"
                                {{translateAttr data-loading-text="btnIndicatorLoading"}}
                                    class="btn btn-default pull-right file_load_btn">
                                <input {{action 'fileSelected' 'preview' on="change"}} type="file" class="file_input"
                                                                                       accept="image/*"/>
                                <span>{{t 'panel.catalog.garment.form.load'}}</span>
                            </button>
                        {{/if}}
                    {{/if}}
                {{/if}}
            {{/if}}
        </div>
    </div>

    <div class="row file_row" style="margin-left: 0">
        <div class="checkbox">
            <label>
                {{view Ember.Checkbox }}
                <div class="cust_checkbox">&nbsp;</div>
                {{t 'panel.catalog.garment.form.label.photo_preview_automatic'}}
            </label>
        </div>
    </div>


</div>

<div class="col-md-5 col-sm-5">
    <div class="photo_file" {{action 'showModalImage'}}>
        <div class="tab-content">
            <div class="tab-pane fade" id="views_front">
                {{#if frontUrl }}
                    <img class="img_file" {{bind-attr  src=frontUrl}}>
                {{else}}
                    {{#if frontData }}
                        <img class="img_file" {{bind-attr  src=frontData}}>
                    {{else}}
                        <img class="img_file" src="/static/img/elements/not_photo_big.png">
                    {{/if}}
                {{/if}}
            </div>
            <div class="tab-pane fade" id="views_back">
                {{#if backUrl }}
                    <img class="img_file" {{bind-attr  src=backUrl}}>
                {{else}}
                    {{#if backData }}
                        <img class="img_file" {{bind-attr  src=backData}}>
                    {{else}}
                        <img class="img_file" src="/static/img/elements/not_photo_big.png">
                    {{/if}}
                {{/if}}
            </div>
            <div class="tab-pane fade in active" id="views_preview">
                {{#if previewUrl }}
                    <img class="img_file" {{bind-attr  src=previewUrl}}>
                {{else}}
                    {{#if previewData }}
                        <img class="img_file" {{bind-attr  src=previewData}}>
                    {{else}}
                        <img class="img_file" src="/static/img/elements/not_photo_big.png">
                    {{/if}}
                {{/if}}
            </div>
            <div class="tab-pane fade" id="views_3d">
                <img class="img_file" src="/static/img/elements/not_photo_big.png">
            </div>
        </div>

        <div class="btn_views btn-group" data-toggle="buttons">
            <label {{action 'selectedViewPhoto' 'front' bubbles=false}} class="btn btn-default"
                                                                        href="#views_front" data-toggle="tab">
                <input type="radio" name="options_views" value="front"/>
                {{t 'panel.catalog.garment.form.photo.window.label.front'}}
            </label>
            <label {{action 'selectedViewPhoto' 'back' bubbles=false}} class="btn btn-default"
                                                                       href="#views_back" data-toggle="tab">
                <input type="radio" name="options_views" value="back"/>
                {{t 'panel.catalog.garment.form.photo.window.label.back'}}
            </label>
            <label {{action 'selectedViewPhoto' 'preview' bubbles=false}} class="btn btn-default active"
                                                                          href="#views_preview" data-toggle="tab">
                <input type="radio" name="options_views" value="preview"/>
                {{t 'panel.catalog.garment.form.photo.window.label.preview'}}
            </label>
            <label {{action 'selectedViewPhoto' '3d' bubbles=false}} class="btn btn-default"
                                                                     href="#views_3d" data-toggle="tab">
                <input type="radio" name="options_views" value="3d"/>
                {{t 'panel.catalog.garment.form.photo.window.label.3d'}}
            </label>
        </div>
    </div>
</div>
</div>
</div>
</form>
</div>
</div>
</div>


<!-- Modal window with image-->
<div class="modal fade" id="imgModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body text-center" {{action 'closeModalImage'}}>

                <div class="tab-content">
                    <div class="tab-pane fade" id="views_front_modal">
                        {{#if frontUrl }}
                            <img style="width: 338px; height: 380px;" {{bind-attr src=frontUrl}}>
                        {{else}}
                            {{#if frontData }}
                                <img style="width: 338px; height: 380px;" {{bind-attr  src=frontData}}>
                            {{else}}
                                <img height="380px" src="/static/img/elements/not_photo_big.png">
                            {{/if}}
                        {{/if}}
                    </div>
                    <div class="tab-pane fade" id="views_back_modal">
                        {{#if backUrl }}
                            <img style="width: 338px; height: 380px;" {{bind-attr  src=backUrl}}>
                        {{else}}
                            {{#if backData }}
                                <img style="width: 338px; height: 380px;" {{bind-attr  src=backData}}>
                            {{else}}
                                <img height="380px" src="/static/img/elements/not_photo_big.png">
                            {{/if}}
                        {{/if}}
                    </div>
                    <div class="tab-pane fade in active" id="views_preview_modal">
                        {{#if previewUrl }}
                            <img style="width: 338px; height: 380px;" {{bind-attr  src=previewUrl}}>
                        {{else}}
                            {{#if previewData }}
                                <img style="width: 338px; height: 380px;" {{bind-attr  src=previewData}}>
                            {{else}}
                                <img height="380px" src="/static/img/elements/not_photo_big.png">
                            {{/if}}
                        {{/if}}
                    </div>
                    <div class="tab-pane fade" id="views_3d_modal">
                        <img height="380px" src="/static/img/elements/not_photo_big.png">
                    </div>
                </div>

                <div class="btns">
                    <div class="btn_views btn-group" data-toggle="buttons">
                        <label {{action 'selectedViewPhoto' 'front' bubbles=false}} class="btn btn-default"
                                                                                    href="#views_front_modal"
                                                                                    data-toggle="tab">
                            <input type="radio" name="options_views" value="front"/>
                            {{t 'panel.catalog.garment.form.photo.window.label.front'}}
                        </label>
                        <label {{action 'selectedViewPhoto' 'back' bubbles=false}} class="btn btn-default"
                                                                                   href="#views_back_modal"
                                                                                   data-toggle="tab">
                            <input type="radio" name="options_views" value="back"/>
                            {{t 'panel.catalog.garment.form.photo.window.label.back'}}
                        </label>
                        <label {{action 'selectedViewPhoto' 'preview' bubbles=false}} class="btn btn-default active"
                                                                                      href="#views_preview_modal"
                                                                                      data-toggle="tab">
                            <input type="radio" name="options_views" value="preview"/>
                            {{t 'panel.catalog.garment.form.photo.window.label.preview'}}
                        </label>
                        <label {{action 'selectedViewPhoto' '3d' bubbles=false}} class="btn btn-default"
                                                                                 href="#views_3d_modal"
                                                                                 data-toggle="tab">
                            <input type="radio" name="options_views" value="3d"/>
                            {{t 'panel.catalog.garment.form.photo.window.label.3d'}}
                        </label>
                    </div>
                </div>

            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div><!-- /.modal -->



