<div class="panel panel-default lot_parameters">
    <div class="panel-heading">
        <h3 class="panel-title">Параметры выбранного лота</h3>
    </div>
    <div class="panel-body">
        <div class="alert alert-info">
            <span class="glyphicon icon icon-idea pull-left"></span>
            <button type="button" class="close" aria-hidden="true">&times;</button>
            <p>
                В данном окне отображаются дополнительные сведения о лоте. Для
                отображения данной информации выберите любой лот в Каталоге слева.
            </p>
        </div>
    </div>
</div>