<div id="main_container" class="panel">
    <h3>{{ t auth.form.title }}</h3>

    <form class="form-horizontal" role="form">
        <fieldset>
            <legend class="legend_desc">
                {{ t auth.form.description }}
            </legend>
            <br/>

            <div {{bind-attr class=":form-group isValidLogin::has-error"}}>
                <label for="authInputLogin"
                       class="col-sm-offset-2 col-sm-2 control-label">{{ t auth.form.labelLogin }}</label>

                <div class="col-sm-4">
                    {{view Ember.TextField valueBinding="controller.content.login" type="email" class="form-control" id="authInputLogin" placeholederTranslation="auth.form.plchLogin" }}
                    <div class="help-block"></div>
                </div>
            </div>
            <div {{bind-attr class=":form-group isValidPassword::has-error"}}>
                <label for="authInputPassword"
                       class="col-sm-offset-2 col-sm-2 control-label">{{ t auth.form.labelPassword }}</label>

                <div class="col-sm-4">
                    {{view Ember.TextField valueBinding="controller.content.password" type="password" class="form-control" id="authInputPassword" placeholederTranslation="auth.form.plchPassword" }}
                    <div class="help-block"></div>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-offset-4 col-sm-4">

                    <label>
                        {{view Ember.Checkbox name="rememberMe" checkedBinding="controller.content.rememberMe"}}
                        <div {{bind-attr class=":cust_checkbox controller.content.rememberMe:checked"}}>&nbsp;</div>
                        {{ t auth.form.labelRememberMe }}
                    </label>

                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-offset-4 col-sm-4">
                    <button type="button"
                            id="btnSingIn" {{translateAttr data-loading-text="btnIndicatorLoading"}} {{action 'singIn'}}
                            class="btn btn-default"><strong>{{ t auth.form.btnSingIn }}</strong></button>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-offset-4 col-sm-4">
                    <a class="text-primary underline_link" href="#">{{ t auth.form.linkForgotPassword }}</a>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-offset-4 col-sm-4">
                    {{#link-to 'register' class="text-primary linkToRegister underline_link"}}{{ t auth.form.linkRegister }}{{/link-to}}
                </div>
            </div>
        </fieldset>
    </form>
</div>