<div class="btn-group">
    <div class="btn-top-border"></div>
    <div class="pull-left btn-left-border"></div>
    <button type="button" class="btn btn-link dropdown-toggle" data-toggle="dropdown">
        {{controller.locale}} <span class="caret"></span>
    </button>
    <ul class="dropdown-menu pull-right" role="menu">

        <div class="border-parts">
            <div class="pull-right right-border-part" style="width: 60px"></div>
            <div class="top-border-part" style="margin-right: 60px"></div>
            <div class="clearfix"></div>
        </div>
        <li><a {{action 'changeLocale' 'ru_RU'}}>Русский</a></li>
        <li><a {{action 'changeLocale' 'en_US'}}>English</a></li>
    </ul>
</div>