<nav class="navbar navbar-default main_menu" role="navigation">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-main-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse navbar-main-collapse">
        <ul class="nav navbar-nav main">
            {{#link-to 'panel.catalog' tagName='li' href=false}}
                <a>Каталог</a>
                <div class="navbar-li-notify"></div>
            {{/link-to}}
            {{#link-to 'panel.statistic' tagName='li' href=false}}
                <a>Статистика</a>
                <div class="navbar-li-notify"></div>
            {{/link-to}}
            {{#link-to 'panel.balance' tagName='li' href=false}}
                <a>Баланс</a>
                <div class="navbar-li-notify"></div>
            {{/link-to}}
            {{#link-to 'panel.settings.partner.individual' class='notify_active' tagName='li' href=false}}
                <a>Настройки</a>
                <div class="navbar-li-notify active"></div>
            {{/link-to}}
        </ul>
        <ul class="nav navbar-nav navbar-right help">
            <li>
                <a href="/" onclick="return false;">
                    <div class="help-circle">?</div>
                </a>
                <div class="navbar-li-notify"></div>
            </li>
        </ul>
    </div>
</nav>
{{#unless isActiveMenuSettings}}
    <div class="alert alert-warning">
      <span class="glyphicon icon icon-warning pull-left"></span>
        <p>
            Вы используете демонстрационную версию каталога Dressformer для бизнеса. Некоторые функции недоступны.
        </p>
    </div>
{{/unless}}