<div id="main_container" class="panel">
    <div class="pull-right" style="margin-top: 20px;">
        {{ t register.form.labelLinkToAuth }}
        {{#link-to 'auth' class="text-primary underline_link"}}{{t register.form.linkToAuth }} {{/link-to}}
        <img style="margin-left: 5px;" src="static/img/main/sign_in.png" height="12px"/>

        <!--<span class="glyphicon glyphicon-expand text-primary"></span>-->
    </div>
    <h3>{{ t register.form.title }}</h3>
    <hr/>
    <form class="form-horizontal" role="form">
        <fieldset>
        <div {{bind-attr class=":form-group valid.isValidLogin::has-error"}}>
                <label for="registerInputLogin"
                       class="col-sm-offset-2 col-sm-2 control-label">{{ t auth.form.labelLogin }}</label>

                <div class="col-sm-4">
                {{view Ember.TextField valueBinding="controller.content.email" type="email" class="form-control" id="registerInputLogin" placeholederTranslation="auth.form.plchLogin" }}
                    <div class="help-block"></div>
                </div>
            </div>
        <div {{bind-attr class=":form-group valid.isValidPassword::has-error"}}>
                <label for="registerInputPassword"
                       class="col-sm-offset-2 col-sm-2 control-label">{{ t auth.form.labelPassword }}</label>

                <div class="col-sm-4">
                    {{view Ember.TextField valueBinding="controller.content.password" type="password" class="form-control" id="registerInputPassword" placeholederTranslation="auth.form.plchPassword" }}
                    <div class="help-block"></div>
                </div>
            </div>
        <div {{bind-attr class=":form-group valid.isValidPasswordConfirm::has-error"}}>
                <label for="registerInputPasswordConfirm" class="col-sm-offset-2 col-sm-2 control-label"></label>

                <div class="col-sm-4">
                    {{view Ember.TextField valueBinding="controller.content.passwordConfirm" type="password" class="form-control" id="registerInputPasswordConfirm" placeholederTranslation="register.form.plchPasswordConfirm" }}
                    <div class="help-block"></div>
                </div>
            </div>
        <div {{bind-attr class=":form-group valid.isValidRecaptcha::has-error"}}>
            <div class="col-sm-offset-4 col-sm-4">
                   <div id="g_captcha"></div>
                   <div class="help-block"></div>
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-offset-4 col-sm-4">
                <div class="checkbox">
                    <label>
                        {{view Ember.Checkbox checkedBinding="subscribe"}}
                        <div class="cust_checkbox">&nbsp;</div>
                        {{ t register.form.labelSubscribe }}
                    </label>
                </div>
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-offset-4 col-sm-4">
                <div class="checkbox">
                    <label>
                        {{view Ember.Checkbox checkedBinding="confirmTerms" class="confirmTerms"}}
                        <div class="cust_checkbox">&nbsp;</div>
                        {{ t register.form.labelConfirmTerms }}
                        <a data-toggle="modal" href="#TermsModal"  class="text-primary terms_link">{{ t register.form.termsAgreement }}</a>
                    </label>
                </div>
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-offset-4 col-sm-4">
                <button type="button"
                        id="btnRegister" {{translateAttr data-loading-text="btnIndicatorLoading"}} {{action 'register'}}
                        {{bind-attr class=":btn :btn-default confirmTerms::disabled"}}>{{ t register.form.btnRegister }}</button>
            </div>
        </div>
    </fieldset>
</form>
<!-- Modal -->
<div class="modal fade" id="TermsModal" tabindex="-1" role="dialog" aria-labelledby="TermsModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">{{t register.terms.title}}</h4>
                <p>{{t register.terms.description}}</p>
            </div>
            <div class="modal-body  ">
                <div class="nano">
                    <div class="scrollContent">
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" {{action 'changeTermsAgree' false}} class="btn btn-default" data-dismiss="modal">{{t register.terms.cancel}}</button>
                <button type="button" {{action 'changeTermsAgree' true}} class="btn btn-primary" data-dismiss="modal">{{t register.terms.agree}}</button>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div><!-- /.modal -->