<div class="row">
    <div class="col-sm-2">{{t app.labelSocialPanel}}</div>
    <div class="col-sm-10">
        <div class="row">
            <div class="col-sm-3">
                <span class="fb-like">
                  <fb:like href="http://developers.facebook.com/docs/reference/plugins/like" layout="button_count" send="false" width="450" show_faces="false"></fb:like>
                </span>
            </div>
            <div class="col-sm-3">
                <div id="vk_like"></div>
            </div>
            <div class="col-sm-3">
                <a href="https://twitter.com/share" class="twitter-share-button" {{bind-attr data-lang="lang"}}>{{t app.tweet}}</a>
            </div>
            <div class="col-sm-3">
                <div class="g-plusone" data-size="medium" data-annotation="bubble" ></div>
            </div>
        </div>
    </div>
</div>



