
/* дерево каталогов */

.listTree .btn, .listTree .btn:hover, .listTree .btn:focus {
    color:#0988BB;
}

.add_block {
    padding-left: 15px;
}

.bid_list {
    margin-top: 7px;
}

.bid_list .list-group {
    margin-bottom: 0;
}

.listTree ul {
    margin: 0;
    padding: 0;
}

.listTree li {
    list-style-type: none;
    color: #5b6a7c;
}

.listTreeWrapper {
    /*margin: 0 10px;*/
    background-color: #F9FAFC;
    /*padding: 10px 15px;*/
    padding-bottom: 15px;
}

.listTree .node {
    display: inline-block;
    width: 100%;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
    border-width: 1px;
    border-style: solid;
    border-color: #CBCED3;

    background-image: linear-gradient(bottom, #F0F2F6 37%, #FFFFFF 87%);
    background-image: -o-linear-gradient(bottom, #F0F2F6 37%, #FFFFFF 87%);
    background-image: -moz-linear-gradient(bottom, #F0F2F6 37%, #FFFFFF 87%);
    background-image: -webkit-linear-gradient(bottom, #F0F2F6 37%, #FFFFFF 87%);
    background-image: -ms-linear-gradient(bottom, #F0F2F6 37%, #FFFFFF 87%);

    background-image: -webkit-gradient(
        linear,
        left bottom,
        left top,
        color-stop(0.37, #F0F2F6),
        color-stop(0.87, #FFFFFF)
    );
    cursor: pointer;
}

.listTree .level_0 {
    padding: 10px 9px 10px 17px;
}

.listTree .level_1 {
    padding: 5px;
    padding-left: 10px ;
}
.listTree label {
    margin-bottom: 0;
}

.listTree .node .caret,
        .optional_part  .caret {
    float: right;
    margin-right: 5px;
    margin-top: 9px;
    border-top: 4px solid #0988bb;
}

.listTree .level_1 .caret,
.optional_part .caret  {
   padding: 0px;
   margin-right: 10px;
}
.listTree .node:hover {
    background-image: linear-gradient(bottom, #FBFCFD 37%, #FFFFFF 87%);
    background-image: -o-linear-gradient(bottom, #FBFCFD 37%, #FFFFFF 87%);
    background-image: -moz-linear-gradient(bottom, #FBFCFD 37%, #FFFFFF 87%);
    background-image: -webkit-linear-gradient(bottom, #FBFCFD 37%, #FFFFFF 87%);
    background-image: -ms-linear-gradient(bottom, #FBFCFD 37%, #FFFFFF 87%);

    background-image: -webkit-gradient(
        linear,
        left bottom,
        left top,
        color-stop(0.37, #FBFCFD),
        color-stop(0.87, #FFFFFF)
    );
}

/* выбранный узел дерева */
.listTree .node.selected {
   background-image: linear-gradient(bottom, #EAEEF2 3%, #D7DCE2 75%);
    background-image: -o-linear-gradient(bottom, #EAEEF2 3%, #D7DCE2 75%);
    background-image: -moz-linear-gradient(bottom, #EAEEF2 3%, #D7DCE2 75%);
    background-image: -webkit-linear-gradient(bottom, #EAEEF2 3%, #D7DCE2 75%);
    background-image: -ms-linear-gradient(bottom, #EAEEF2 3%, #D7DCE2 75%);

    background-image: -webkit-gradient(
        linear,
        left bottom,
        left top,
        color-stop(0.03, #EAEEF2),
        color-stop(0.75, #D7DCE2)
    );
}

.listTree .node.selected .caret,
.optional_part .caret{
    border-top: 0 dotted;
    border-bottom: 4px solid #0988bb;
}

.listTree > ul > li  {
    margin-top: 10px;
}

.listTree > ul > li > div {
    font-weight: bold;
}

.listTree ul li ul li {
    padding-left: 15px;
    border-left: 1px dashed #B2B9C1;
    position: relative;
}

.listTree .node.level_1{
    margin-top: 7px;
}

.add_block{
    margin-top: 7px;
    margin-bottom: 7px;
}
.bid_list{
    margin-top: 8px;
}

/* соединительная ветка */
.connect_line {
    position: absolute;
    display: inline-block;
    border-bottom: 1px dashed #B2B9C1;
    left: 0px;
    top: 22px;
    height: 1px;
    width: 15px;
}

.listTree li.last {/* последний узел, соединительную линию к след. узлу убираем */
         border: none;
}

.listTree li.last .connect_line {
    border-left: 1px dashed #B2B9C1;
    height: 71%;
    top: -4px;
}

.listTree ul  li  ul {
    margin-left: 10px;
    /*display: none;*/
}

.listTree  ul li  ul  li .add_block  {
    /*display: none;*/
}

/*.bid_photo {*/
    /*width: 62px;*/
    /*height: 64px;*/
/*}*/

.primary_loading {
    /*border-radius: 3px;*/
    /*box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);*/
    max-width: 100%;
}

.primary_loading.tree_lev_0 {
    margin-left: 28%;
}

.primary_loading.tree_lev_1 {
    margin-left: 28%;
}

.not_lots {
    display: inline-block;  width: 100%;
    padding: 9px 7px;
    background-color: #F1F5F8;
    margin-top: 6px;
}

.catalog_filter .search-query{
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    border-radius: 15px;
    background: url("/static/img/elements/search.png") 94% 9px no-repeat ;
    background-color: white;
}

.catalog_filter .navbar-form {
    padding: 0px;
    margin-left: 3px;
    margin-right: 3px;
}

.catalog_filter .form-control {
    padding: 6px 18px;
    padding-left: 11px;
    font-size: 13px;
    min-width: 185px;
}
.catalog_filter .filter_buttons .btn{
    margin-top: 8px;

}
.catalog_filter .btn {
    color: #0988BB;
    /*padding-left: 11px;*/
    /*padding-right: 11px;*/
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
}

.filter_buttons {
    padding-left: 0px;
}

.panel-heading.multiply_heading {
    padding: 0;
}

.panel-heading h3{
    font-size: 18px;
    color: #5b6a7c;
}

.panel.panel-default {
    border-color: #BFC2D3;
}

.panel .panel-heading {
    background-image: -webkit-gradient(linear, left 0%, left 100%, from(#F6F8FA), to(#E4E9EF));
    background-image: -webkit-linear-gradient(top, #F6F8FA, 0%, #E4E9EF, 100%);
    background-image: -moz-linear-gradient(top, #F6F8FA 0%, #E4E9EF 100%);
    background-image: linear-gradient(to bottom, #F6F8FA 0%, #E4E9EF 100%);

    border-color: #BBC4D0;

}

.multiply_heading_pad {
    padding-left: 9px;
    padding-right: 9px;
    padding-top: 12px;
    padding-bottom: 0px;
    width: 100%;
    height: 100%;
}

.divider {
    width: 100%;
    height: 100%;
    margin-top: 15px;
}
.divider .divider_up {
    border-bottom: 1px solid #BBC4D0;
    width: 100%;
}
.divider .divider_down {
    border-top: 1px solid #ffffff;
    width: 100%;
}

/* краткая информация о лоте */
 .img_lot {
            width:100%;
            height:100%;
            line-height: 1.428571429;
            background-color: #ffffff;
            border: 1px solid #F1F1F1;
            border-radius: 4px;
 }

.img_external {
    padding: 4px 4px 2px 4px;
    border: 1px solid #dddddd;
    border-radius: 9px;
    -webkit-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
    -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.075);
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.075);
    width:70px;
    height:70px;
    background-color: #F9F9F9;
    border-left: 2px solid #D2D6D9;
    border-bottom: 2px solid #D2D6D9;
}
.img_internal {
    border-top:  1px solid #E2E2E2;
    border-radius: 4px;
    width: 59px;
    height: 59px;
}

.bid_list h5 {
    display: inline-block;
    font-size: 12px;
}

.color_lot {
    display: inline-block;
    width: 14px;
    height: 14px;
    -webkit-box-shadow: inset 0px 0px 6px -1px rgba(0,0,0,0.62);
    -moz-box-shadow: inset 0px 0px 6px -1px rgba(0,0,0,0.62);
    box-shadow: inset 0px 0px 6px -1px rgba(0,0,0,0.62);
}


.catalog_wrapper {
    position: relative;
}
.parent_lot_parameters {
    min-height: 532px;
    position: relative;
}

.lot_parameters {
    /*position: absolute;*/
      min-height: 532px;
}

/** media queries */
@media (min-width: 992px) and (max-width: 1200px) {
    /*.catalog_lot_panel{*/
        /*min-height: 950px;*/
    /*}*/
}

@media (min-width: 1200px ) {
    /*.catalog_lot_panel{*/
        /*min-height: 950px;*/
    /*}*/
}

.listTree .list-group-item.active, .listTree .list-group-item.active:hover {
    background-color: #f5f5f5;
    color: #555555;
    border-color: #555555;
    background-image: none;
    background-image: none;
    background-image: none;
    background-image: none;

    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    text-shadow: none;
}

.alert_inline{
    position: relative;
    vertical-align: middle;
}

#garmentForm .form-group .col-sm-2,
#garmentForm .form-group .col-md-2
{
    padding-right: 0px;
    padding-left: 0px;
}

#garmentForm .form-group {
    color:  #4A4F55;
}
#garmentForm textarea {
     resize: none;
}

.optional_part {
    border-top: 1px solid;
    border-bottom: 1px solid;
    margin-top: 26px;
    margin-bottom: 26px;
    font-size: 15px;
    color: #5b6a7c;
    font-weight: bold;
    padding: 8px 8px;
    border-bottom: 1px solid transparent;
    background-image: -webkit-gradient(linear, left 0%, left 100%, from(#f5f5f5), to(#e8e8e8));
    background-image: -webkit-linear-gradient(top, #f5f5f5, 0%, #e8e8e8, 100%);
    background-image: -moz-linear-gradient(top, #f5f5f5 0%, #e8e8e8 100%);
    background-image: linear-gradient(to bottom, #f5f5f5 0%, #e8e8e8 100%);
    background-repeat: repeat-x;
    background-image: -webkit-gradient(linear, left 0%, left 100%, from(#F6F8FA), to(#E4E9EF));
    background-image: -webkit-linear-gradient(top, #F6F8FA, 0%, #E4E9EF, 100%);
    background-image: -moz-linear-gradient(top, #F6F8FA 0%, #E4E9EF 100%);
    background-image: linear-gradient(to bottom, #F6F8FA 0%, #E4E9EF 100%);
    border-color: #BBC4D0;
    cursor: pointer;
}

.tag_btn, .tag_btn:focus {
    font-weight: bold;
    color: #5b6a7c;
}
.tag_btn.active {
    font-weight: bold;
    color: #ffffff;
    text-shadow: 0 1px 0 #565c64;
    border-color: #7e8896;
    background: #63707e;
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJod…EiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
    background: -moz-linear-gradient(top, #63707e 0%, #a6afb9 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #63707e), color-stop(100%, #a6afb9));
    background: -webkit-linear-gradient(top, #63707e 0%, #a6afb9 100%);
    background: -o-linear-gradient(top, #63707e 0%, #a6afb9 100%);
    background: -ms-linear-gradient(top, #63707e 0%, #a6afb9 100%);
    background: linear-gradient(to bottom, #63707e 0%, #a6afb9 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#63707e', endColorstr='#a6afb9', GradientType=0);
}

#garmentForm .alert{
    margin-left: 15px;
    margin-right: 15px;

}


/** photo file widget */
.file_title {
    color: #454C56;
    font-size: 15px;
    font-weight: bold;
    margin-bottom: 6px;
}

.file_link {
    display: inline-block;
    color: #0687BE;
    font-size: 14px;
    text-decoration: underline;
    cursor: pointer;
    margin-left: 6px;
}

.file_descr {
    margin-left: 27px;
    color: #9CA5AC;
}

.file_row {
    margin-top: 22px;
}

.file_row button {
    margin-left: 5px;
}

.file_row .file_error {
    color: #bf2d14;
    text-decoration: none;
}

.file_first_column{
   margin-left: 30px;
}

.file_row div.checkbox{
    padding-left: 0;
}

.photo_file {

    background-color: #ffffff;
    width: 100%;
    height: 100%;
    min-height: 375px;
    background: url("/static/img/elements/increase_scale.png") 92% 22px no-repeat;

    border: 1px solid  #DDDEE0;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
    margin-bottom: 25px;
    cursor: pointer;
    position: relative;
}

.photo_file .btn_views {
    position: absolute;
    bottom: 22px;
    margin-left: 12px;
}

.img_file {
    position: absolute;
    top: 45px;
    margin-left: 15%;
    width: 210px;
    height: 240px;
}

#imgModal .modal-dialog {
    width: 400px;
}
#imgModal .modal-body {
    min-height: 530px;
}
#imgModal .modal-body {
    background: url("/static/img/elements/increase_scale.png") 92% 22px no-repeat;
    background-color: #ffffff;
    cursor: pointer;
}

#imgModal .btns {
    position: absolute;
    left: 50px;
    bottom: 40px;
}

