@font-face {
    font-family: Helvetica;
    src: url(../../fonts/Helvetica-Regular.ttf);
}

html,
body {
    margin: 0;
    padding: 0;
    height: 100%;
}

body {
    background: url("../../img/main/content-bg.gif") repeat;
}

.wrapper {
    position: absolute;
    padding-top: 15px;
    width: 100%;
    height: 100%;
}

.panel {
    background-color: #f9fafc;
}

#main_container {
    /*margin-left: 15px;*/
    /*margin-right: 15px;*/
    border: 1px solid rgba(163, 160, 160, 0.38);
    min-height: 75%;
    padding: 2px 28px;
}

#header_container {
    margin-bottom: 10px;
}

.form-horizontal .controls {
    margin-bottom: 20px;
}

.form-horizontal .btn-link {
    margin-left: 0px;
    padding-left: 0px;
}

label, input, button, select, textarea {
    font-size: 14px;
    font-weight: normal;
    line-height: 20px;
}

.legend_desc {
    font-size: 12px;
    /*font-family: 'Roboto Condensed', sans-serif;*/
    padding-bottom: 20px;
}

.delimeter {
    width: 100%;
    margin: 25px 0 15px 0;
}

.del_u {
    width: 100%;
    height: 1px;
    background: -moz-linear-gradient(left, rgba(245, 246, 246, 0.78) 0%, rgba(219, 220, 226, 0.78) 21%, rgba(184, 186, 198, 0.78) 49%, rgba(206, 207, 215, 0.78) 67%, rgba(219, 220, 225, 0.78) 78%, rgba(245, 246, 246, 1) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, right top, color-stop(0%, rgba(245, 246, 246, 0.78)), color-stop(21%, rgba(219, 220, 226, 0.78)), color-stop(49%, rgba(184, 186, 198, 0.78)), color-stop(67%, rgba(206, 207, 215, 0.78)), color-stop(78%, rgba(219, 220, 225, 0.78)), color-stop(100%, rgba(245, 246, 246, 1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(left, rgba(245, 246, 246, 0.78) 0%, rgba(219, 220, 226, 0.78) 21%, rgba(184, 186, 198, 0.78) 49%, rgba(206, 207, 215, 0.78) 67%, rgba(219, 220, 225, 0.78) 78%, rgba(245, 246, 246, 1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(left, rgba(245, 246, 246, 0.78) 0%, rgba(219, 220, 226, 0.78) 21%, rgba(184, 186, 198, 0.78) 49%, rgba(206, 207, 215, 0.78) 67%, rgba(219, 220, 225, 0.78) 78%, rgba(245, 246, 246, 1) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(left, rgba(245, 246, 246, 0.78) 0%, rgba(219, 220, 226, 0.78) 21%, rgba(184, 186, 198, 0.78) 49%, rgba(206, 207, 215, 0.78) 67%, rgba(219, 220, 225, 0.78) 78%, rgba(245, 246, 246, 1) 100%); /* IE10+ */
    background: linear-gradient(to right, rgba(245, 246, 246, 0.78) 0%, rgba(219, 220, 226, 0.78) 21%, rgba(184, 186, 198, 0.78) 49%, rgba(206, 207, 215, 0.78) 67%, rgba(219, 220, 225, 0.78) 78%, rgba(245, 246, 246, 1) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#c7f5f6f6', endColorstr='#f5f6f6', GradientType=1); /* IE6-9 */;

}

.del_d {
    width: 100%;
    height: 1px;
    background: -moz-linear-gradient(left, rgba(245, 246, 246, 0.78) 0%, rgba(255, 255, 255, 0.78) 22%, rgba(255, 255, 255, 0.78) 49%, rgba(251, 252, 252, 0.78) 67%, rgba(249, 250, 250, 0.78) 78%, rgba(245, 246, 246, 1) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, right top, color-stop(0%, rgba(245, 246, 246, 0.78)), color-stop(22%, rgba(255, 255, 255, 0.78)), color-stop(49%, rgba(255, 255, 255, 0.78)), color-stop(67%, rgba(251, 252, 252, 0.78)), color-stop(78%, rgba(249, 250, 250, 0.78)), color-stop(100%, rgba(245, 246, 246, 1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(left, rgba(245, 246, 246, 0.78) 0%, rgba(255, 255, 255, 0.78) 22%, rgba(255, 255, 255, 0.78) 49%, rgba(251, 252, 252, 0.78) 67%, rgba(249, 250, 250, 0.78) 78%, rgba(245, 246, 246, 1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(left, rgba(245, 246, 246, 0.78) 0%, rgba(255, 255, 255, 0.78) 22%, rgba(255, 255, 255, 0.78) 49%, rgba(251, 252, 252, 0.78) 67%, rgba(249, 250, 250, 0.78) 78%, rgba(245, 246, 246, 1) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(left, rgba(245, 246, 246, 0.78) 0%, rgba(255, 255, 255, 0.78) 22%, rgba(255, 255, 255, 0.78) 49%, rgba(251, 252, 252, 0.78) 67%, rgba(249, 250, 250, 0.78) 78%, rgba(245, 246, 246, 1) 100%); /* IE10+ */
    background: linear-gradient(to right, rgba(245, 246, 246, 0.78) 0%, rgba(255, 255, 255, 0.78) 22%, rgba(255, 255, 255, 0.78) 49%, rgba(251, 252, 252, 0.78) 67%, rgba(249, 250, 250, 0.78) 78%, rgba(245, 246, 246, 1) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#c7f5f6f6', endColorstr='#f5f6f6', GradientType=1); /* IE6-9 */
}

footer div, a {
    color: #929ca9;
}

.sitemap-icon {
    background: url("../../img/main/site_map.png") no-repeat;
    width: 17px;
    height: 19px;
    position: relative;
    top: 4px;
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    -webkit-font-smoothing: antialiased;
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    margin-left: 20px;
}

footer .glyphicon, header .glyphicon {
    color: #0988bb;
}

header div, a, button {
    color: #5b6a7c;
}

.modal-content .nano {
    height: 400px;
    padding: 10px;
    border: 1px solid #DCE5F0;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}

/*.modal-body {*/
/*max-height: 400px;*/
/*overflow-y: auto;*/
/*}*/
.nano > .pane > .slider {
    background-color: rgba(156, 156, 156, 0.972549);
}

.scrollContent {
    padding: 0 20px 0 10px;
}

/* social customize */
.ZRa {
    float: left;
    white-space: nowrap;
}

.Qo {
    width: 32px;
    height: 20px;
}

.Qo:hover {
    background: no-repeat url(//ssl.gstatic.com/s2/oz/images/stars/po/Publisher/sprite4-a67f741843ffc4220554c34bd01bb0bb.png) 0 -766px;
}

.Qo {
    background: no-repeat url(//ssl.gstatic.com/s2/oz/images/stars/po/Publisher/sprite4-a67f741843ffc4220554c34bd01bb0bb.png) 0 -720px;
}

.hAa {
    cursor: pointer;
    display: block;
    outline: 0;
    position: relative;
    text-decoration: none;
}

.az {
    padding-left: 1px;
    padding-right: 1px;
}

.wC, .az, .vC {
    float: left;
}

.az .eX {
    background-position: 0 -191px;
    height: 20px;
    width: 6px;
}

.eX, .fX {
    background: transparent no-repeat url(//ssl.gstatic.com/s2/oz/images/stars/po/Publisher/sprite4-a67f741843ffc4220554c34bd01bb0bb.png);
    float: left;
}

.az .U1 {
    max-width: 47px;
    min-width: 10px;
}

.U1 {
    background: #fff;
    border: 1px solid #ccc;
    border-left-style: none;
    border-right-style: none;
    float: left;
}

.az .V1 {
    text-align: center;
    min-width: 35px;
    font-size: 11px;
    margin: 1px 6px;
    height: 16px;
    line-height: 17px;
}

.V1 {
    color: #666;
    font-family: arial, sans-serif;
    overflow: hidden;
    white-space: nowrap;
}

.az .fX {
    background-position: -45px -191px;
    height: 20px;
    width: 2px;
}

.eX, .fX {
    background: transparent no-repeat url(//ssl.gstatic.com/s2/oz/images/stars/po/Publisher/sprite4-a67f741843ffc4220554c34bd01bb0bb.png);
    float: left;
}

.Qo.btn-tweet:focus, .Qo.btn-tweet:hover, .Qo.btn-tweet:active {
    border-color: #bbb;
    background-color: #f8f8f8;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#f8f8f8), to(#d9d9d9));
    background-image: -moz-linear-gradient(top, #f8f8f8, #d9d9d9);
    background-image: -o-linear-gradient(top, #f8f8f8, #d9d9d9);
    background-image: -ms-linear-gradient(top, #f8f8f8, #d9d9d9);
    background-image: linear-gradient(top, #f8f8f8, #d9d9d9);
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}

/* кастомизация чекбоксов*/

input[type="checkbox"] {
    display: none;
}

label input[type="checkbox"] {
    color: #f2f2f2;
    font-family: Arial, sans-serif;
    font-size: 14px;
}

label input[type="checkbox"] + div, label .cust_checkbox {
    display: inline-block;
    width: 15px;
    height: 17px;
    margin: -1px 4px 0 0;
    vertical-align: middle;
    background: url(../../img/main/check_radio_sheet.png) 0px top no-repeat;
    cursor: pointer;
}

label input[type="checkbox"] + div:hover, label input[type="checkbox"] + span:hover,
label .cust_checkbox:hover {
    background: url(../../img/main/check_radio_sheet.png) -15px top no-repeat;
}

label input[type="checkbox"]:checked + div, label input[type="checkbox"] .cust_checkbox.checked {
    background: url(../../img/main/check_radio_sheet.png) -30px top no-repeat;
}

label > span {
    cursor: pointer;
}

/* TODO Аналгично под radio  */

/*.WordSection1{*/
/*font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;*/
/*font-size: 14px;*/
/*line-height: 1.428571429;*/
/*color: #333333;*/
/*}*/

a.terms_link {
    text-decoration: none;
    border-bottom: 1px #428bca dotted;
}

a.terms_link:hover, a.terms_link:focus {
    color: #2a6496;
}

a.underline_link {
    text-decoration: underline;
}

.dropdown-el .btn-group .btn-top-border,
.dropdown-el .btn-group .btn-left-border {
    position: absolute;
}

.dropdown-el .btn-group.open .btn-top-border {
    border-width: 1px 1px 0 1px;
    border-style: solid;
    border-color: #bbc4d0;
    width: 100%;
    margin-top: -4px;
    background: #ffffff;
    height: 4px;
    -webkit-border-top-left-radius: 4px;
    -webkit-border-top-right-radius: 4px;
    -moz-border-radius-topleft: 4px;
    -moz-border-radius-topright: 4px;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
}

.dropdown-el .btn-group.open .btn-left-border {
    z-index: 10;
    margin-left: -9px;
    border-width: 0 1px 1px 0;
    border-color: #bbc4d0;
    border-style: solid;
    background: url("../../img/main/content-bg.gif") repeat;
    height: 30px;
    width: 10px;
    -webkit-border-bottom-right-radius: 4px;
    -moz-border-radius-bottomright: 4px;
    border-bottom-right-radius: 4px;
}

.dropdown-el .btn-group .btn-link {
    border: 1px solid transparent;
    border-top: none;
    border-bottom: none;
}

.dropdown-el .btn-group.open .btn-link {
    background: #ffffff;
    border-right-color: #bbc4d0;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.dropdown-el ul.dropdown-menu li {
    cursor: pointer;
}

.dropdown-el ul.dropdown-menu {
    margin-top: 0;
    border-top: 0;
    border-color: #bbc4d0;
    -webkit-border-radius: 4px;
    -webkit-border-top-right-radius: 0;
    -webkit-border-top-left-radius: 0;
    -moz-border-radius: 4px;
    -moz-border-radius-topright: 0;
    -moz-border-radius-topleft: 0;
    border-radius: 4px;
    border-top-right-radius: 0;
    border-top-left-radius: 0;
}

.dropdown-el .btn-group.open .border-parts {
    position: absolute;
    min-width: 160px;
    right: 0;
    left: auto;
    margin-top: -8px;
    padding-left: 1px;
}

.dropdown-el .btn-group.open div.top-border-part {
    border-style: solid;
    border-color: #bbc4d0;
    border-width: 1px 0 0 1px;
    height: 5px;
    -webkit-border-top-left-radius: 4px;
    -moz-border-radius-topleft: 4px;
    border-top-left-radius: 4px;
    background: white;
}

.dropdown-el .btn-group.open div.right-border-part {
    background: #ffffff;
    margin-top: 1px;
    height: 5px;
}

.help-circle {
    color: #1c70a0;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    border: 1px solid #e7e9ec;
    height: 22px;
    width: 22px;
    text-align: center;
    background: #eff2f7; /* Old browsers */
    background: -moz-linear-gradient(top, #eff2f7 0%, #fdfefe 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #eff2f7), color-stop(100%, #fdfefe)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #eff2f7 0%, #fdfefe 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #eff2f7 0%, #fdfefe 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #eff2f7 0%, #fdfefe 100%); /* IE10+ */
    background: linear-gradient(to bottom, #eff2f7 0%, #fdfefe 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#eff2f7', endColorstr='#fdfefe', GradientType=0); /* IE6-9 */
}

.main_menu.navbar {
    z-index: 800;
    border: 1px solid #b5bfcc;
    background: #fdfefe; /* Old browsers */
    background: -moz-linear-gradient(top, #fdfefe 0%, #eff2f7 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #fdfefe), color-stop(100%, #eff2f7)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #fdfefe 0%, #eff2f7 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #fdfefe 0%, #eff2f7 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #fdfefe 0%, #eff2f7 100%); /* IE10+ */
    background: linear-gradient(to bottom, #fdfefe 0%, #eff2f7 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fdfefe', endColorstr='#eff2f7', GradientType=0); /* IE6-9 */

    -moz-box-shadow: 0 1px #fff;
    -webkit-box-shadow: 0 1px #fff;
    box-shadow: 0 1px #fff;

}

.collapse.navbar-collapse.navbar-main-collapse {
    padding-left: 0;
}

.main_menu.navbar ul li.active, .navbar .navbar-nav > .active > a,
.main_menu.navbar ul li.active:hover, .navbar .navbar-nav > .active > a:hover {
    background: rgb(178, 185, 193); /* Old browsers */
    background: -moz-linear-gradient(top, rgba(178, 185, 193, 1) 0%, rgba(215, 220, 227, 1) 6%, rgba(234, 238, 242, 1) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(178, 185, 193, 1)), color-stop(6%, rgba(215, 220, 227, 1)), color-stop(100%, rgba(234, 238, 242, 1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, rgba(178, 185, 193, 1) 0%, rgba(215, 220, 227, 1) 6%, rgba(234, 238, 242, 1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, rgba(178, 185, 193, 1) 0%, rgba(215, 220, 227, 1) 6%, rgba(234, 238, 242, 1) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, rgba(178, 185, 193, 1) 0%, rgba(215, 220, 227, 1) 6%, rgba(234, 238, 242, 1) 100%); /* IE10+ */
    background: linear-gradient(to bottom, rgba(178, 185, 193, 1) 0%, rgba(215, 220, 227, 1) 6%, rgba(234, 238, 242, 1) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#b2b9c1', endColorstr='#eaeef2', GradientType=0); /* IE6-9 */
    font-weight: 900;
}

.main_menu.navbar ul li:not(.active):hover, .main_menu.navbar .navbar-nav > li:not(.active):hover > a {
    background: #ffffff; /* Old browsers */
    background: -moz-linear-gradient(top, #ffffff 0%, #fafbfd 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #ffffff), color-stop(100%, #fafbfd)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #ffffff 0%, #fafbfd 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #ffffff 0%, #fafbfd 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #ffffff 0%, #fafbfd 100%); /* IE10+ */
    background: linear-gradient(to bottom, #ffffff 0%, #fafbfd 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#fafbfd', GradientType=0); /* IE6-9 */
}

.main_menu.navbar ul li {
    height: 52px;
}

.main_menu.navbar ul.main li {
    border-right: 1px solid #d1d9e2;
    -moz-box-shadow: inset -1px 0 #fff;
    -webkit-box-shadow: inset -1px 0 #fff;
    box-shadow: inset -1px 0 #fff;
    width: 150px;
    text-align: center;
}

.main_menu.navbar ul.help li {
    border-left: 1px solid #d1d9e2;
    -moz-box-shadow: -1px 0 #fff;
    -webkit-box-shadow: -1px 0 #fff;
    box-shadow: -1px 0 #fff;
}

.navbar-li-notify {
    height: 2px;
    position: relative;
    top: 1px;
}

.navbar-li-notify.active {
    background-color: #f7be37;
}

.alert-warning {
    color: #9b4917;
    border-color: #f7bd32;
    background: #fdf3db none;
}

.alert-warning:hover {
    background-color: #fdf8eb;
}

.alert-danger {
    border-color: #E88C7C;
    background: #F6E1DE none;
    color: #BF2D14;
}

.alert-danger:hover {
    background-color: #F8EAE8;
}

.alert-info {
    background: #EDF7FA none;
    border-color: #A5CBDA;
}

.alert-info:hover {
    background-color: #F4F9FA;
}

.icon-warning {
    background: url(/static/img/elements/icons.png) 0 0 no-repeat;
}

.icon {
    width: 25px;
    height: 30px;
    margin-top: -8px;
    margin-right: 5px;
}

.icon-idea {
    background: url(/static/img/elements/icons.png) -25px 0 no-repeat;
}

.main_menu.navbar ul.main li.notify_active a {
    color: #C08353;
}

.icons {
    width: 10px;
    height: 11px;
    margin-top: -14px;
    margin-right: 5px;
    background: url(/static/img/elements/icons-2.png) 0 0 no-repeat;
}

.icons.only {
    margin-right: 0;
}

.icons-more {
    background-position: -10px 0;
}

.icons-dropdown {
    background-position: -20px 0;
}

.active .icons-dropdown {
    background-position: -30px 0;
}

.icons-select {
    background-position: -40px 0;
}

.active .icons-select, .open .icons-select {
    background-position: -50px 0;
}

#main_container {
    min-height: 370px;
}

.like_center {
    width: 100%;
    height: 100%;
    text-align: center;
    margin: 0;
    padding: 0;
}

.addition_descr {
    color: #929ca9;
    font-size: small;
}

h4, .h4 {
    font-size: 16px;
}

.simple_text {
    font-weight: normal;
}

/* Settings page */
.panel-setting-sidebar a {
    color: #0988bb;
    text-decoration: underline;
}

.panel-setting-sidebar a.active {
    color: #424f5f;
    font-weight: bold;
    text-decoration: none;
}

.panel-setting-partner .list-group-item {
    background: #f7f9fb; /* Old browsers */
    /* IE9 SVG, needs conditional override of 'filter' to 'none' */
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2Y3ZjlmYiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNlNGU5ZWYiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
    background: -moz-linear-gradient(top, #f7f9fb 0%, #e4e9ef 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #f7f9fb), color-stop(100%, #e4e9ef)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #f7f9fb 0%, #e4e9ef 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #f7f9fb 0%, #e4e9ef 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #f7f9fb 0%, #e4e9ef 100%); /* IE10+ */
    background: linear-gradient(to bottom, #f7f9fb 0%, #e4e9ef 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f7f9fb', endColorstr='#e4e9ef', GradientType=0); /* IE6-8 */
}

.panel-setting-partner .list-group-item.active {
    text-shadow: 0 1px 0 #565c64;
    border-color: #7e8896;
    background: #63707e; /* Old browsers */
    /* IE9 SVG, needs conditional override of 'filter' to 'none' */
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzYzNzA3ZSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNhNmFmYjkiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
    background: -moz-linear-gradient(top, #63707e 0%, #a6afb9 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #63707e), color-stop(100%, #a6afb9)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #63707e 0%, #a6afb9 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #63707e 0%, #a6afb9 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #63707e 0%, #a6afb9 100%); /* IE10+ */
    background: linear-gradient(to bottom, #63707e 0%, #a6afb9 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#63707e', endColorstr='#a6afb9', GradientType=0); /* IE6-8 */
}

.panel-heading.inner {
    border-top: 1px solid #BFC2D3;
}

.catalog_filter .btn.dropdown-toggle {
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}

.btn .filter-option {
    text-align: left;
    text-overflow: ellipsis;
    overflow: hidden;
    padding-right: 15px;
}

.table thead > tr > td.vmiddle, .table tbody > tr > td.vmiddle, .table tfoot > tr > td.vmiddle {
    vertical-align: middle;
}

.table-striped > tbody > tr:nth-child(odd) > td, .table-striped > tbody > tr:nth-child(odd) > th {
    background-color: #f9f9f9;
}

.list-lots.table-striped > tbody > tr:nth-child(odd) > td, .list-lots.table-striped > tbody > tr:nth-child(odd) > th {
    background-color: #f1f4f7;
}

.btn-link .text-muted.caret {
    border-top-color: #999999;
}

.btn-link:hover .text-muted {
    color: black;
}

.btn-link:hover .text-muted.caret {
    border-top-color: black;
}

.et-select .dropdown-menu > li > a,
.et-select .dropdown-menu > li > a,
.et-select .dropdown-menu > .active > a,
.et-select .dropdown-menu > .active > a,
.et-select .dropdown-menu > .active > a {
    cursor: pointer;
    border-top: 1px solid transparent;
    border-bottom: 1px solid transparent;
    text-decoration: none;
}

.et-select .dropdown-menu > li > a:hover,
.et-select .dropdown-menu > li > a:focus,
.et-select .dropdown-menu > .active > a,
.et-select .dropdown-menu > .active > a:hover,
.et-select .dropdown-menu > .active > a:focus {
    background: #f1f4f7;
    border-top: 1px solid #d0d5db;
    border-bottom: 1px solid #d0d5db;
    color: #424f5f;
}

.et-select .btn.btn-default {
    color: #424f5f;
}
.et-select .dropdown-menu{
    max-height: 250px;
    overflow-y: auto;
}
.navbar-nav.main{
    cursor: pointer;
}
.btn .file_input{
    height: 30px;
    width: 91px;
    cursor: pointer;
    position: absolute;
    top: -1px;
    left: -2px;
    font-size: 24px;
    z-index: 2;

    opacity: 0.0; /* Standard: FF gt 1.5, Opera, Safari */
    filter: alpha(opacity=0); /* IE lt 8 */
    -ms-filter: "alpha(opacity=0)"; /* IE 8 */
    -khtml-opacity: 0.0; /* Safari 1.x */
    -moz-opacity: 0.0; /* FF lt 1.5, Netscape */
}
.file_load_btn{
    position: relative;
}

.form-group.has-error button {
  border-color: #B94A48;
}

/* fix bootstrap for ember */
.pagination > li > a{cursor: pointer;}
.pagination > li:nth-child(3) > a, .pagination > li:nth-child(3) > span {
    margin-left: 0;
    border-bottom-left-radius: 4px;
    border-top-left-radius: 4px;
}

.pagination>li:nth-last-child(3)>a, .pagination>li:nth-last-child(3)>span {
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
}