{{#view App.BlockPanelView title="panel.settings.partner.title" class="panel-setting-partner"}}
    <div class="row">
        <div class="col-sm-4">
            <div class="list-group">
                {{#link-to 'panel.settings.partner.person' class="list-group-item"}}
                    {{t 'panel.settings.partner.formtype.person'}}
                {{/link-to}}
                {{#link-to 'panel.settings.partner.se' class="list-group-item"}}
                    {{t 'panel.settings.partner.formtype.se'}}
                {{/link-to}}
                {{#link-to 'panel.settings.partner.individual' class="list-group-item"}}
                    {{t 'panel.settings.partner.formtype.individual'}}
                {{/link-to}}
            </div>
        </div>
        <div class="col-sm-8">
            {{outlet}}
        </div>
    </div>
{{/view}}