<tr>
    <td>
        <div class="media">
            <div class="img_external pull-left">
                <div class="img_internal">
                    <img class="img_lot" {{bind-attr src=previewUrl}}>
                </div>
            </div>

            <div class="media-body">
                <div>
                    <div class="color_lot" {{bind-attr style=getBGColor}}></div>
                    <strong>{{brand.name}}</strong></div>
                <div><span class="text-muted">{{internalId}}</span></div>
                <div><span class="text-muted">{{t 'panel.statistic.catalog.table.garden'}}</span> {{t 'garden.female'}}
                </div>
                <div><span class="text-muted">{{t 'panel.statistic.catalog.table.date_add'}}</span> 25 октября 2013
                </div>
            </div>
        </div>
    </td>
    <td class="vmiddle text-center">
        <strong>1234442</strong>
    </td>
    <td class="vmiddle text-center">
        <strong>232</strong>
    </td>
    <td class="vmiddle text-center">
        <strong>35</strong>
    </td>
    <td class="vmiddle text-center">
        {{#if view.forReport}}
            <label>
                {{view Ember.Checkbox checkedBinding="selected"}}
                <div {{bind-attr class=":cust_checkbox controller.content.rememberMe:checked"}}>&nbsp;</div>
            </label>
        {{else}}
            <button class="btn btn-default btn-sm">
                &nbsp;
                <div class="icons only icons-more"></div>
            </button>
        {{/if}}
    </td>
</tr>