<div class="alert alert-info">
    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
    <span class="glyphicon icon icon-idea pull-left"></span>
    <p>{{t 'panel.statistic.report.idea'}}</p>
    <p>{{t 'panel.statistic.report.idea_second'}}</p>
</div>

{{#view App.BlockPanelView title="panel.settings.report.title" class="panel-setting-sidebar" withoutbody=true}}
    <div class="panel-body">
        <div class="row">
            <div class="col-xs-4">
                <p>
                    {{view Ember.Checkbox type="radio" name="report_format" checkedBinding="isHtmlFormat" disabled="disabled"}}
                    {{t 'panel.settings.report.type.html'}}
                </p>
                <p>
                    {{view Ember.Checkbox type="radio" name="report_format" checkedBinding="isPdfFormat"}}
                    {{t 'panel.settings.report.type.pdf'}}
                </p>
            </div>
            <div class="col-xs-5">
                <div>
                    <label>
                        {{view Ember.Checkbox name="generalContent" checkedBinding="isGeneralContent"}}
                        <div {{bind-attr class=":cust_checkbox isGeneralContent:checked"}}>&nbsp;</div>
                        {{t 'panel.settings.report.content.general'}}
                    </label>
                </div>
                <div>
                    <label>
                        {{view Ember.Checkbox name="eachContent" checkedBinding="isLotsContent"}}
                        <div {{bind-attr class=":cust_checkbox isLotsContent:checked"}}>&nbsp;</div>
                        {{t 'panel.settings.report.content.each'}}
                    </label>
                </div>
            </div>
            <div class="col-xs-3">
                <p>
                    <a {{bind-attr href="urlReport"}} class="btn btn-default" target="_blank">
                        {{t 'panel.statistic.report.create'}}
                    </a>
                </p>
            </div>
        </div>
        <p class="text-muted">
            {{t 'panel.settings.report.selected'}} <strong>{{selectedCount}}</strong>
            {{t 'panel.settings.report.selected_from'}} <strong>{{totalCount}}</strong>
            {{t 'panel.settings.report.selected_for'}} (
            <a {{action 'clearSelected'}} class="btn-link">
                {{t 'clear.selected'}}
            </a>)
        </p>
    </div>
    <div class="panel-heading inner multiply_heading catalog_filter">
        <!-- Различные фильтры... -->
        <div class="multiply_heading_pad">
            <form class="form-horizontal" onkeypress="return event.keyCode != 13;" style="padding-bottom: 9px;">
                <div class="row">
                    <div class="col-xs-4">
                        <label for="statisticContentFilterCategoryInput" class="col-lg-4 control-label hidden-lg">
                            &nbsp;</label>
                        {{view Ember.TextField class="form-control search-query"
                        valueBinding="parent_controller.articleQuery"
                        action="changedArticleQuery"
                        placeholderTranslation="search.lot.by.article.placeholder"}}
                    </div>
                    <div class="col-xs-4 row">
                        <label for="statisticContentFilterCategoryInput" class="col-lg-4 control-label">
                            {{t 'panel.statistic.catalog.filter.category.label'}}
                        </label>

                        <div class="col-lg-8">
                            {{select-field idElement="category"
                            actionSelected="changedCategory"
                            isTree=true actionLoad='loadCategories' selected=parent_controller.selected_category}}
                        </div>
                    </div>
                    <div class="col-xs-4">
                        <label for="statisticContentFilterPeriodInput" class="col-lg-4 control-label">
                            {{t 'panel.statistic.catalog.filter.period.label'}}
                        </label>

                        <div class="col-lg-8">
                            {{select-field idElement="period"
                            actionSelected="changedPeriod"
                                selected=parent_controller.selected_period
                            model=periods isStatic=true isTree=false}}
                        </div>
                    </div>

                </div>
            </form>
        </div>
    </div>
    <div class="panel-body">
        <div class="table-responsive">
            <table class="table table-striped list-lots">
                <thead>
                <tr>
                    <td></td>
                    <td>
                        <a {{bind-attr class=":btn :btn-link isFittingCountASC::dropup" }} {{action 'changedOrder' 'fittingCount'}}>
                            <span {{bind-attr class="isFittingCountOrder::text-muted"}}>{{t 'panel.statistic.catalog.sort.fittings'}}</span>
                            <span {{bind-attr class=":caret isFittingCountOrder::text-muted"}}></span>
                        </a>
                    </td>
                    <td>
                        <a {{bind-attr class=":btn :btn-link isRedirectCountASC::dropup" }} {{action 'changedOrder' 'redirectCount'}}>
                            <span {{bind-attr class="isRedirectCountOrder::text-muted"}}>{{t 'panel.statistic.catalog.sort.redirects'}}</span>
                            <span {{bind-attr class=":caret isRedirectCountOrder::text-muted"}}></span>
                        </a>
                    </td>
                    <td>
                        <a {{bind-attr class=":btn :btn-link isWardrobeCountASC::dropup" }} {{action 'changedOrder' 'wardrobeCount'}}>
                            <span {{bind-attr class="isWardrobeCountOrder::text-muted"}}>{{t 'panel.statistic.catalog.sort.saves'}}</span>
                            <span {{bind-attr class=":caret isWardrobeCountOrder::text-muted"}}></span>
                        </a>
                    </td>
                    <td style="padding-top: 16px;">
                        <label>
                            {{view Ember.Checkbox name="eachContent" checkedBinding="allChecked"}}
                            <div {{bind-attr class=":cust_checkbox allChecked:checked"}}>&nbsp;</div>
                        </label>
                    </td>
                </tr>
                </thead>
                <tbody>
                    {{#if model}}
                        {{#each model}}
                        <tr>
                            <td>
                                <div class="media">
                                    <div class="img_external pull-left">
                                        <div class="img_internal">
                                            <img class="img_lot" {{bind-attr src="previewUrl"}} >
                                        </div>
                                    </div>

                                    <div class="media-body">
                                        <div>
                                            <div class="color_lot" {{bind-attr style="colorString"}}></div>
                                            <strong>{{category}} {{brand}}</strong></div>
                                        <div><span class="text-muted">{{article}}</span></div>
                                        <div><span
                                                class="text-muted">{{t 'panel.statistic.catalog.table.date_add'}}</span> {{createdString}}
                                        </div>
                                    </div>
                                </div>
                            </td>
                            <td class="vmiddle text-center">
                                <strong>{{fittingCount}}</strong>
                            </td>
                            <td class="vmiddle text-center">
                                <strong>{{redirectCount}}</strong>
                            </td>
                            <td class="vmiddle text-center">
                                <strong>{{wardrobeCount}}</strong>
                            </td>
                            <td class="vmiddle text-center">
                                <label>
                                    {{view Ember.Checkbox checkedBinding="selected"}}
                                    <div {{bind-attr class=":cust_checkbox selected:checked"}}>&nbsp;</div>
                                </label>
                            </td>
                        </tr>
                        {{/each}}
                    {{else}}
                    <tr>
                        <td colspan="5">
                            <div class="text-center text-muted">{{t 'list.empty'}}</div>
                        </td>
                    </tr>
                    {{/if}}
                </tbody>
            </table>
        </div>
        <div class="text-center">
            {{#if totalCount}}
                <ul class="pagination">
                    {{#each pages}}
                        <li {{bind-attr class="active:active disabled:disabled"}}><a {{action 'changePage' page disabled}}>{{page}} {{#if active}}<span class="sr-only">({{t 'current'}})</span>{{/if}}</a></li>
                    {{/each}}
                </ul>
            {{/if}}
        </div>
    </div>
{{/view}}