<div>
    <div class="row">
        <div class="col-xs-8">
            {{#link-to 'panel.statistic.content' class="btn btn-default"}}
                <span class="glyphicon glyphicon-chevron-left"></span> {{t 'back'}}
            {{/link-to}}
        </div>
        <div class="col-xs-4">
            <div class="row">
                <label for="statisticContentFilterPeriodInput" class="col-lg-4 control-label" style="padding-top:4px;">
                    <strong>{{t 'panel.statistic.catalog.filter.period.label'}}</strong>
                </label>

                <div class="col-lg-8">
                    {{select-field idElement="period"
                    actionSelected="changedPeriod"
                    selected=parent_controller.selected_period
                    model=periods isStatic=true isTree=false}}
                </div>
            </div>
        </div>
    </div>
</div>
<br/>

{{#view App.BlockPanelView title="panel.statistic.view.title" class="panel-setting-sidebar" withoutbody=true}}
    <div class="panel-body">
        {{# with model}}
            <div class="media">
                <div class="img_external pull-left">
                    <div class="img_internal">
                        <img class="img_lot" {{bind-attr src="previewUrl"}} >
                    </div>
                </div>

                <div class="media-body">
                    <div>
                        <div class="color_lot" {{bind-attr style="colorString"}}></div>
                        <strong>{{categoryString}} {{brandString}}</strong></div>
                    <div><span class="text-muted">{{article}}</span></div>
                    <div>
                        <span class="text-muted">
                            {{t 'panel.statistic.catalog.table.date_add'}}
                        </span> {{createdString}}
                    </div>
                </div>
            </div>
        {{/with}}
    </div>
    <div class="panel-heading inner multiply_heading">
        <div class="multiply_heading_pad"><h4 class="panel-title">{{t 'panel.statistic.view.graph_fitting.title'}}</h4>
        </div>
        <div class="divider">
            <div class="divider_up"></div>
            <div class="divider_down"></div>
        </div>
    </div>
    <div class="panel-body">
        <div class="row">
            <div class="col-xs-6">{{t 'panel.statistic.view.fittingTotalCount'}} {{totalFittingCount}}</div>
            <div class="col-xs-6">
                <div class="row">
                    <div class="col-xs-6">
                        {{view Em.TextField type="date" valueBinding="fittingDateFrom" class="form-control"}}
                    </div>
                    <div class="col-xs-6">
                        {{view Em.TextField type="date" valueBinding="fittingDateTo" class="form-control"}}
                    </div>
                </div>
            </div>
        </div>
        {{view App.ChartView name=nameFitting categories=fittingDates data=data_fitting}}
    </div>
    <div class="panel-heading inner multiply_heading">
        <div class="multiply_heading_pad"><h4 class="panel-title">{{t 'panel.statistic.view.graph_redirect.title'}}</h4>
        </div>
        <div class="divider">
            <div class="divider_up"></div>
            <div class="divider_down"></div>
        </div>
    </div>
    <div class="panel-body">
        <div class="row">
            <div class="col-xs-6">{{t 'panel.statistic.view.redirectTotalCount'}} {{totalRedirectCount}}</div>
            <div class="col-xs-6">
                <div class="row">
                    <div class="col-xs-6">
                        {{view Em.TextField type="date" valueBinding="redirectDateFrom" class="form-control"}}
                    </div>
                    <div class="col-xs-6">
                        {{view Em.TextField type="date" valueBinding="redirectDateTo" class="form-control"}}
                    </div>
                </div>
            </div>
        </div>
        {{view App.ChartView name=nameRedirect categories=redirectDates data=data_redirect}}
    </div>
    <div class="panel-heading inner multiply_heading">
        <div class="multiply_heading_pad"><h4 class="panel-title">{{t 'panel.statistic.view.graph_saves.title'}}</h4>
        </div>
        <div class="divider">
            <div class="divider_up"></div>
            <div class="divider_down"></div>
        </div>
    </div>
    <div class="panel-body">
        <div class="row">
            <div class="col-xs-6">{{t 'panel.statistic.view.saveTotalCount'}} {{totalWardrobeCount}}</div>
            <div class="col-xs-6">
                <div class="row">
                    <div class="col-xs-6">
                        {{view Em.TextField type="date" valueBinding="saveDateFrom" class="form-control"}}
                    </div>
                    <div class="col-xs-6">
                        {{view Em.TextField type="date" valueBinding="saveDateTo" class="form-control"}}
                    </div>
                </div>
            </div>
        </div>
        {{view App.ChartView name=nameSave categories=saveDates data=data_save}}
    </div>
{{/view}}