﻿<DIV class=WordSection1>
<P style="TEXT-ALIGN: center; mso-outline-level: 1" class=MsoNormal 
align=center><B><SPAN 
style="FONT-FAMILY: 'Helvetica','serif'; FONT-SIZE: 14pt; mso-fareast-font-family: 'Helvetica'; mso-font-kerning: 18.0pt">Пользовательское 
соглашение<o:p></o:p></SPAN></B></P>
<P style="TEXT-ALIGN: center; mso-outline-level: 1" class=MsoNormal 
align=center><B><SPAN 
style="FONT-FAMILY: 'Helvetica','serif'; mso-fareast-font-family: 'Helvetica'; mso-font-kerning: 18.0pt"><o:p>&nbsp;</o:p></SPAN></B></P>
<P 
style="TEXT-ALIGN: center; TEXT-INDENT: 0cm; MARGIN-LEFT: 0cm; mso-outline-level: 3; mso-list: l1 level1 lfo1" 
class=MsoNormal align=center><![if !supportLists]><B><SPAN 
style="FONT-FAMILY: 'Helvetica','serif'; mso-fareast-font-family: 'Helvetica'"><SPAN 
style="mso-list: Ignore">1.<SPAN 
style="FONT: 7pt 'Helvetica'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 
</SPAN></SPAN></SPAN></B><![endif]><B><SPAN 
style="FONT-FAMILY: 'Helvetica','serif'; mso-fareast-font-family: 'Helvetica'">Общие 
положения<o:p></o:p></SPAN></B></P>
<P style="mso-outline-level: 3" class=MsoNormal><B><SPAN 
style="FONT-FAMILY: 'Helvetica','serif'; mso-fareast-font-family: 'Helvetica'"><o:p>&nbsp;</o:p></SPAN></B></P>
<P 
style="TEXT-JUSTIFY: inter-ideograph; TEXT-ALIGN: justify; TEXT-INDENT: 0cm; MARGIN-LEFT: 0cm; mso-outline-level: 3; mso-list: l1 level2 lfo1" 
class=MsoNormal><![if !supportLists]><SPAN 
style="FONT-FAMILY: 'Helvetica','serif'; mso-fareast-font-family: 'Helvetica'; mso-bidi-font-weight: bold"><SPAN 
style="mso-list: Ignore">1.1.<SPAN 
style="FONT: 7pt 'Helvetica'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 
</SPAN></SPAN></SPAN><![endif]><SPAN 
style="FONT-FAMILY: 'Helvetica','serif'; mso-fareast-font-family: 'Helvetica'">Данное 
пользовательское соглашение устанавливает правила и условия пользования 
приложением «Dressformer» (далее «Приложение») на платформе социальной сети 
Facebook. Фактом установки Приложения на своей странице в социальной сети Вы 
автоматически принимаете данное соглашение и все оговорённые в нём правила и 
условия.<B><o:p></o:p></B></SPAN></P>
<P 
style="TEXT-JUSTIFY: inter-ideograph; TEXT-ALIGN: justify; TEXT-INDENT: 0cm; MARGIN-LEFT: 0cm; mso-outline-level: 3; mso-list: l1 level2 lfo1" 
class=MsoNormal><![if !supportLists]><SPAN 
style="FONT-FAMILY: 'Helvetica','serif'; mso-fareast-font-family: 'Helvetica'; mso-bidi-font-weight: bold"><SPAN 
style="mso-list: Ignore">1.2.<SPAN 
style="FONT: 7pt 'Helvetica'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 
</SPAN></SPAN></SPAN><![endif]><SPAN 
style="FONT-FAMILY: 'Helvetica','serif'">Настоящее Пользовательское 
соглашение заключается между любым пользователем, использующим Приложение, далее 
- Пользователь, и Администрацией приложения Dressformer, с которой вы можете 
связаться здесь (ссылка на обратную связь).</SPAN><B><SPAN 
style="FONT-FAMILY: 'Helvetica','serif'; mso-fareast-font-family: 'Helvetica'"><o:p></o:p></SPAN></B></P>
<P style="TEXT-JUSTIFY: inter-ideograph; TEXT-ALIGN: justify" 
class=MsoNormal><SPAN style="FONT-FAMILY: 'Helvetica','serif'">1.3. 
Устанавливая Приложение Пользователь выражает своё полное и безоговорочное 
согласие со всеми положениями данного Пользовательского 
соглашения.<o:p></o:p></SPAN></P>
<P style="TEXT-JUSTIFY: inter-ideograph; TEXT-ALIGN: justify" 
class=MsoNormal><SPAN style="FONT-FAMILY: 'Helvetica','serif'">1.4. 
Приложение предоставляется на условиях «как есть», без каких-либо обязательств 
со стороны Администрации.<o:p></o:p></SPAN></P>
<P style="TEXT-JUSTIFY: inter-ideograph; TEXT-ALIGN: justify" 
class=MsoNormal><SPAN style="FONT-FAMILY: 'Helvetica','serif'">1.5. 
Администрация не предоставляет никаких гарантий в отношении безошибочной и 
бесперебойной работы Приложения, социальной сети Facebook, соответствия 
Приложения конкретным целям и ожиданиям Пользователя, а также не предоставляет 
никаких иных гарантий, прямо не указанных в настоящем Пользовательском 
соглашении.<o:p></o:p></SPAN></P>
<P style="TEXT-JUSTIFY: inter-ideograph; TEXT-ALIGN: justify" 
class=MsoNormal><SPAN style="FONT-FAMILY: 'Helvetica','serif'">1.6. 
Установка и использование Приложения являются бесплатными.<o:p></o:p></SPAN></P>
<P class=MsoNormal><SPAN 
style="FONT-FAMILY: 'Helvetica','serif'"><o:p>&nbsp;</o:p></SPAN></P>
<OL style="MARGIN-TOP: 0cm" type=1 start=2>
  <LI style="TEXT-ALIGN: center; mso-outline-level: 3; mso-list: l1 level1 lfo1" 
  class=MsoNormal><B><SPAN 
  style="FONT-FAMILY: 'Helvetica','serif'; mso-fareast-font-family: 'Helvetica'">Права 
  и обязательства Пользователя<o:p></o:p></SPAN></B> </LI></OL>
<P style="TEXT-ALIGN: center; MARGIN-LEFT: 36pt; mso-outline-level: 3" 
class=MsoNormal align=center><B><SPAN 
style="FONT-FAMILY: 'Helvetica','serif'; mso-fareast-font-family: 'Helvetica'"><o:p>&nbsp;</o:p></SPAN></B></P>
<P style="TEXT-JUSTIFY: inter-ideograph; TEXT-ALIGN: justify" 
class=MsoNormal><SPAN style="FONT-FAMILY: 'Helvetica','serif'">2.1. 
Пользователь имеет право:<o:p></o:p></SPAN></P>
<P style="TEXT-JUSTIFY: inter-ideograph; TEXT-ALIGN: justify" 
class=MsoNormal><SPAN style="FONT-FAMILY: 'Helvetica','serif'">2.1.1. 
применять Приложение по прямому функциональному 
назначению.<o:p></o:p></SPAN></P>
<P style="TEXT-JUSTIFY: inter-ideograph; TEXT-ALIGN: justify" 
class=MsoNormal><SPAN style="FONT-FAMILY: 'Helvetica','serif'">2.1.2. 
произвести установку Приложения.<o:p></o:p></SPAN></P>
<P style="TEXT-JUSTIFY: inter-ideograph; TEXT-ALIGN: justify" 
class=MsoNormal><SPAN style="FONT-FAMILY: 'Helvetica','serif'">2.2. 
Пользователь обязуется не совершать действия, направленные 
на:<o:p></o:p></SPAN></P>
<P style="TEXT-JUSTIFY: inter-ideograph; TEXT-ALIGN: justify" 
class=MsoNormal><SPAN style="FONT-FAMILY: 'Helvetica','serif'">2.2.1. 
воспроизведение и распространение Приложения в коммерческих целях (за плату), в 
том числе в составе сборников программных продуктов, без письменного согласия 
Администрации.<o:p></o:p></SPAN></P>
<P style="TEXT-JUSTIFY: inter-ideograph; TEXT-ALIGN: justify" 
class=MsoNormal><SPAN style="FONT-FAMILY: 'Helvetica','serif'">2.2.2. 
изменение, декомпиляцию, дизассемблирование, дешифрацию, а так же иные подобные 
действия с объектным кодом Приложения, имеющие целью получение информации о 
реализации алгоритмов, используемых в Приложении, а так же создание производных 
произведений с использованием Приложения.<o:p></o:p></SPAN></P>
<P style="TEXT-JUSTIFY: inter-ideograph; TEXT-ALIGN: justify" 
class=MsoNormal><SPAN 
style="FONT-FAMILY: 'Helvetica','serif'"><o:p>&nbsp;</o:p></SPAN></P>
<OL style="MARGIN-TOP: 0cm" type=1 start=3>
  <LI style="TEXT-ALIGN: center; mso-outline-level: 3; mso-list: l1 level1 lfo1" 
  class=MsoNormal><B><SPAN 
  style="FONT-FAMILY: 'Helvetica','serif'; mso-fareast-font-family: 'Helvetica'">Ограничение 
  ответственности<o:p></o:p></SPAN></B> </LI></OL>
<P style="TEXT-ALIGN: center; MARGIN-LEFT: 36pt; mso-outline-level: 3" 
class=MsoNormal align=center><B><SPAN 
style="FONT-FAMILY: 'Helvetica','serif'; mso-fareast-font-family: 'Helvetica'"><o:p>&nbsp;</o:p></SPAN></B></P>
<P style="TEXT-JUSTIFY: inter-ideograph; TEXT-ALIGN: justify" 
class=MsoNormal><SPAN style="FONT-FAMILY: 'Helvetica','serif'">3.1. 
Администрация не несет ответственности за размещение в Приложении незаконной, 
угрожающей, оскорбительной, дискредитирующей, непристойной информации или 
материалов, нарушающих или посягающих на права какого-либо лица, поощряющих или 
провоцирующих поведение, которое привело бы к нарушению действующего 
законодательства РФ.<o:p></o:p></SPAN></P>
<P style="TEXT-JUSTIFY: inter-ideograph; TEXT-ALIGN: justify" 
class=MsoNormal><SPAN style="FONT-FAMILY: 'Helvetica','serif'">3.2. 
Администрация не несет ответственности за качество и достоверность рекламируемых 
в Приложении товаров, работ и услуг, а также за любые последствия использования 
рекламной информации.<o:p></o:p></SPAN></P>
<P style="TEXT-JUSTIFY: inter-ideograph; TEXT-ALIGN: justify" 
class=MsoNormal><SPAN style="FONT-FAMILY: 'Helvetica','serif'">3.3. 
Администрация не рассматривает претензии относительно работоспособности 
Приложения в случае перебоев в работе социальной сети 
Facebook.<o:p></o:p></SPAN></P>
<P style="TEXT-JUSTIFY: inter-ideograph; TEXT-ALIGN: justify" 
class=MsoNormal><SPAN style="FONT-FAMILY: 'Helvetica','serif'">3.4. 
Администрация обеспечивает функционирование Приложения в круглосуточном режиме, 
однако не гарантирует отсутствие перерывов, связанных с техническими 
неисправностями или проведением профилактических работ.<o:p></o:p></SPAN></P>
<P style="TEXT-JUSTIFY: inter-ideograph; TEXT-ALIGN: justify" 
class=MsoNormal><SPAN style="FONT-FAMILY: 'Helvetica','serif'">3.5. 
Администрация не гарантирует, что Приложение будет функционировать в любое 
конкретное время в будущем или что оно не прекратит 
работу.<o:p></o:p></SPAN></P>
<P style="TEXT-JUSTIFY: inter-ideograph; TEXT-ALIGN: justify" 
class=MsoNormal><SPAN style="FONT-FAMILY: 'Helvetica','serif'">3.6. 
Администрация не гарантирует отсутствие неполадок и ошибок при работе 
Приложения, а также того, что неполадки будут устранены.<o:p></o:p></SPAN></P>
<P style="TEXT-JUSTIFY: inter-ideograph; TEXT-ALIGN: justify" 
class=MsoNormal><SPAN style="FONT-FAMILY: 'Helvetica','serif'">3.7. 
Администрация не несёт ответственности за функционирование компьютера 
Пользователя в результате использования Приложения.<o:p></o:p></SPAN></P>
<P style="TEXT-JUSTIFY: inter-ideograph; TEXT-ALIGN: justify" 
class=MsoNormal><SPAN 
style="FONT-FAMILY: 'Helvetica','serif'"><o:p>&nbsp;</o:p></SPAN></P>
<OL style="MARGIN-TOP: 0cm" type=1 start=4>
  <LI style="TEXT-ALIGN: center; mso-list: l1 level1 lfo1" class=MsoNormal><B 
  style="mso-bidi-font-weight: normal"><SPAN 
  style="FONT-FAMILY: 'Helvetica','serif'; mso-fareast-font-family: 'Helvetica'">Условия 
  об интеллектуальных правах<o:p></o:p></SPAN></B> </LI></OL>
<P style="TEXT-ALIGN: center; MARGIN-LEFT: 36pt" class=MsoNormal align=center><B 
style="mso-bidi-font-weight: normal"><SPAN 
style="FONT-FAMILY: 'Helvetica','serif'; mso-fareast-font-family: 'Helvetica'"><o:p>&nbsp;</o:p></SPAN></B></P>
<P style="TEXT-JUSTIFY: inter-ideograph; TEXT-ALIGN: justify" 
class=MsoNormal><SPAN 
style="FONT-FAMILY: 'Helvetica','serif'; mso-fareast-font-family: 'Helvetica'; mso-bidi-font-weight: bold">4.1.</SPAN><SPAN 
style="FONT-FAMILY: 'Helvetica','serif'; mso-fareast-font-family: 'Helvetica'"> 
Исключительные права на Приложение, в том числе элементы дизайна, текст, 
графические изображения, иллюстрации, видео, скрипты, программы, музыка, звуки и 
другие объекты и их подборки являются объектами исключительных прав 
Администрации, все права на эти объекты защищены. <o:p></o:p></SPAN></P>
<P style="TEXT-JUSTIFY: inter-ideograph; TEXT-ALIGN: justify" 
class=MsoNormal><SPAN 
style="FONT-FAMILY: 'Helvetica','serif'; mso-fareast-font-family: 'Helvetica'">4.2. 
Использование Пользователем Приложения, доступ к которому получен исключительно 
для личного некоммерческого использования, допускается при условии сохранения 
всех знаков авторства (копирайтов) или других уведомлений об авторстве, 
сохранения имени автора в неизменном виде, сохранении произведения в неизменном 
виде. <o:p></o:p></SPAN></P>
<P style="TEXT-JUSTIFY: inter-ideograph; TEXT-ALIGN: justify" 
class=MsoNormal><SPAN style="FONT-FAMILY: 'Helvetica','serif'">4.3. Дизайн 
Приложения, порядок представления и расположения материалов в Приложении 
подлежат защите как объекты авторского права, принадлежащие Администрации. 
Исключительное право Администрации распространяется, в том числе, на подбор, 
расположение, систематизацию и преобразование данных, содержащихся в Приложении. 
</SPAN><SPAN 
style="FONT-FAMILY: 'Helvetica','serif'; mso-fareast-font-family: 'Helvetica'"><o:p></o:p></SPAN></P>
<P style="TEXT-JUSTIFY: inter-ideograph; TEXT-ALIGN: justify" 
class=MsoNormal><SPAN 
style="FONT-FAMILY: 'Helvetica','serif'"><o:p>&nbsp;</o:p></SPAN></P>
<OL style="MARGIN-TOP: 0cm" type=1 start=5>
  <LI style="TEXT-ALIGN: center; mso-outline-level: 3; mso-list: l1 level1 lfo1" 
  class=MsoNormal><B><SPAN 
  style="FONT-FAMILY: 'Helvetica','serif'; mso-fareast-font-family: 'Helvetica'">Конфиденциальность<o:p></o:p></SPAN></B> 
  </LI></OL>
<P style="TEXT-ALIGN: center; MARGIN-LEFT: 36pt; mso-outline-level: 3" 
class=MsoNormal align=center><B><SPAN 
style="FONT-FAMILY: 'Helvetica','serif'; mso-fareast-font-family: 'Helvetica'"><o:p>&nbsp;</o:p></SPAN></B></P>
<P style="TEXT-JUSTIFY: inter-ideograph; TEXT-ALIGN: justify" 
class=MsoNormal><SPAN style="FONT-FAMILY: 'Helvetica','serif'">5.1. 
Администрация не хранит и не передает сторонним лицам или организациям любые 
персональные данные, которые Пользователь указывает на своей странице в 
социальной сети Facebook, включая логины и/или пароли Пользователей, под 
которыми они авторизуются в социальной сети Facebook, используя 
Приложение.<o:p></o:p></SPAN></P>
<P style="TEXT-JUSTIFY: inter-ideograph; TEXT-ALIGN: justify" 
class=MsoNormal><SPAN 
style="FONT-FAMILY: 'Helvetica','serif'"><o:p>&nbsp;</o:p></SPAN></P>
<OL style="MARGIN-TOP: 0cm" type=1 start=6>
  <LI style="TEXT-ALIGN: center; mso-outline-level: 3; mso-list: l1 level1 lfo1" 
  class=MsoNormal><B><SPAN 
  style="FONT-FAMILY: 'Helvetica','serif'; mso-fareast-font-family: 'Helvetica'">Условия 
  действия, изменения и вступления в силу Пользовательского 
  соглашения.<o:p></o:p></SPAN></B> </LI></OL>
<P style="TEXT-ALIGN: center; MARGIN-LEFT: 36pt; mso-outline-level: 3" 
class=MsoNormal align=center><B><SPAN 
style="FONT-FAMILY: 'Helvetica','serif'; mso-fareast-font-family: 'Helvetica'"><o:p>&nbsp;</o:p></SPAN></B></P>
<P style="TEXT-JUSTIFY: inter-ideograph; TEXT-ALIGN: justify" 
class=MsoNormal><SPAN style="FONT-FAMILY: 'Helvetica','serif'">6.1. 
Пользовательское соглашение считается вступившим в силу с момента начала 
использования Пользователем Приложения.<o:p></o:p></SPAN></P>
<P style="TEXT-JUSTIFY: inter-ideograph; TEXT-ALIGN: justify" 
class=MsoNormal><SPAN style="FONT-FAMILY: 'Helvetica','serif'">6.2. 
Пользовательское соглашение может быть изменено Администрацией без 
предварительного специального уведомления Пользователей. Новая редакция 
Пользовательского соглашения вступает в силу с момента его размещения на сайте 
</SPAN><A 
href="mhtml:file://C:\Users\Alucard\Downloads\Новая папка\fb_terms.mht!x-usc:https://legal.dressformer.com/fb_terms.pdf">https://legal.dressformer.com/fb_terms.pdf</A><SPAN 
style="FONT-FAMILY: 'Helvetica','serif'">, если иное не предусмотрено 
новой редакцией Соглашения. Продолжая использовать Приложение, Пользователь 
безоговорочно и в полном объёме соглашается с новой 
редакцией.<o:p></o:p></SPAN></P>
<P style="TEXT-JUSTIFY: inter-ideograph; TEXT-ALIGN: justify" 
class=MsoNormal><SPAN style="FONT-FAMILY: 'Helvetica','serif'">6.3. В 
случае несогласия с нормами Пользовательского соглашения использование 
Приложения должно быть прекращено Пользователем.<o:p></o:p></SPAN></P>
<P style="TEXT-JUSTIFY: inter-ideograph; TEXT-ALIGN: justify" 
class=MsoNormal><SPAN 
style="FONT-FAMILY: 'Helvetica','serif'"><o:p>&nbsp;</o:p></SPAN></P>
<OL style="MARGIN-TOP: 0cm" type=1 start=7>
  <LI style="TEXT-ALIGN: center; mso-outline-level: 3; mso-list: l1 level1 lfo1" 
  class=MsoNormal><B><SPAN 
  style="FONT-FAMILY: 'Helvetica','serif'; mso-fareast-font-family: 'Helvetica'">Заключительные 
  положения<o:p></o:p></SPAN></B> </LI></OL>
<P style="TEXT-ALIGN: center; MARGIN-LEFT: 36pt; mso-outline-level: 3" 
class=MsoNormal align=center><B><SPAN 
style="FONT-FAMILY: 'Helvetica','serif'; mso-fareast-font-family: 'Helvetica'"><o:p>&nbsp;</o:p></SPAN></B></P>
<P style="TEXT-JUSTIFY: inter-ideograph; TEXT-ALIGN: justify" 
class=MsoNormal><SPAN style="FONT-FAMILY: 'Helvetica','serif'">7.1. 
Пользователь принимает на себя все риски, связанные с использованием 
Приложения.<o:p></o:p></SPAN></P>
<P style="TEXT-JUSTIFY: inter-ideograph; TEXT-ALIGN: justify" 
class=MsoNormal><SPAN style="FONT-FAMILY: 'Helvetica','serif'">7.2. 
Устанавливая Приложение, Пользователь соглашается с тем, что он осведомлён, что 
использование Приложения возможно только при наличии доступа к сети Интернет. 
Пользователь самостоятельно получает, настраивает и оплачивает такой доступ на 
условиях и по тарифам своего провайдера.<o:p></o:p></SPAN></P>
<P style="TEXT-JUSTIFY: inter-ideograph; TEXT-ALIGN: justify" 
class=MsoNormal><SPAN style="FONT-FAMILY: 'Helvetica','serif'">7.3. 
Устанавливая Приложение, Пользователь соглашается с тем, что он осведомлён и не 
имеет возражений против размещения и трансляции рекламных сообщений при помощи 
Приложения.<o:p></o:p></SPAN></P>
<P style="TEXT-JUSTIFY: inter-ideograph; TEXT-ALIGN: justify" 
class=MsoNormal><SPAN style="FONT-FAMILY: 'Helvetica','serif'">7.4. 
Пользователь соглашается с тем, что Администрация вправе использовать 
информацию, опубликованную Пользователем на своей странице в социальной сети 
Facebook, для таргетирования рекламных материалов, а так же для проведения 
статистического анализа.<o:p></o:p></SPAN></P>
<P style="TEXT-JUSTIFY: inter-ideograph; TEXT-ALIGN: justify" 
class=MsoNormal><SPAN style="FONT-FAMILY: 'Helvetica','serif'">7.5. Все 
разногласия, возникающие между Сторонами, подлежат урегулированию путем 
переговоров.<o:p></o:p></SPAN></P>
<P style="TEXT-JUSTIFY: inter-ideograph; TEXT-ALIGN: justify" 
class=MsoNormal><SPAN style="FONT-FAMILY: 'Helvetica','serif'">7.6. Все 
вопросы, не урегулированные данным Пользовательским соглашением или 
урегулированные не полностью, регулируются в соответствии с действующим 
законодательством.<o:p></o:p></SPAN></P>
<P class=MsoNormal><o:p>&nbsp;</o:p></P></DIV>
